<!--Adjust Charge Materials section-->
<div class="col-md-12 col-sm-12">
  <div class="row">
    <div class="col-md-12 col-sm-12 p-0">
      <h4 class="fs pt-2"> {{ 'key_FinalOrderSummary' | translate }}</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
   <!-- <div>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{ 'key_Filter' | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
      </mat-form-field>
    </div>-->
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <!--<ng-container matColumnDef="selectRow">
          <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
              </label>
            </div>
          </mat-header-cell>
          <mat-cell class="t-center tw-5" *matCellDef="let row">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                       (change)="$event ? selection.toggle(row) : null"
                       [checked]="selection.isSelected(row)">
              </label>
            </div>
          </mat-cell>
        </ng-container>-->

        <ng-container matColumnDef="Material">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Material</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.Material}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Charge">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Charge</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.Charge}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Commodity">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Commodity</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.Commodity}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ShowOnBOL">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Show On BOL</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.ShowOnBOL}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="OrderQuantity">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Order Quantity</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.OrderQuantity}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ShippedQuantity">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Shipped Quantity</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.ShippedQuantity}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="PriceMethod">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Price Method</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.PriceMethod}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="RateValue">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Rate Value</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.RateValue}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="RateType">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Rate Type</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.RateType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Amount">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.Amount}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
