
<div class="modal-header">
  <h4 class="modal-title">Forgot Password Confirmation</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">

  <p class="text-center text-dark p-2">
    A temporary password is being sent to your email.
  </p>

</div>
<div class="col-lg-12 text-center mt-4 mb-4">
  <input type="button" id="yes" name="yes" (click)="loginRedirect()" class="btn btn-save mr-2 popup-btn-width" value="Ok">
 
</div>


