<div class="modal-header">
  <h5 class="modal-title">{{'key_Addeditphy' | translate}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="SavePhysicianDetail()" [formGroup]="p2form">
  <div class="modal-body  pb-3 ">
    <div class="form-group">
      <label for="firstname">{{'key_PhysicianType' | translate}} <span class="text-danger ml-1">*</span> </label>

      <select class="form-control" formControlName="resourceRole" (change)="GetResource($event)">
        <option value="" disabled>select</option>
        <option [value]="item.id" *ngFor="let item of resourceTypeList">{{item.name}}</option>
      </select>
      <app-control-messages [control]="f['resourceRole']"></app-control-messages>
      <!--<angular2-multiselect [data]="resourceTypeList"
                          formControlName="resourceRole"
                          [settings]="settingsB"
                          (onSelect)="onItemSelectRole($event)"
                          (onDeSelect)="OnItemDeSelectRole($event)"
                          (onSelectAll)="onSelectAll($event)"
                          (onDeSelectAll)="onDeSelectAll($event)"
                          (onAddFilterNewItem)="onAddItemB($event)">
    </angular2-multiselect>
    <app-control-messages [control]="f['resourceRole']"></app-control-messages>-->
      <!--<input type="text" class="form-control" value="" />-->
      <!--<select class="js-example-tags form-control">
      <option>Primary Physician</option>
      <option>Secondary Physician</option>
    </select>-->
    </div>
    <div class="form-group">
      <label for="firstname"> {{'key_PhysicianName' | translate}} <span class="text-danger ml-1">*</span></label>
      <!--<input type="text" class="form-control" value="" />-->
      <angular2-multiselect [data]="resouceList"
                            formControlName="resource"
                            [settings]="settings"
                            (onSelect)="onItemSelectResource($event)"
                            (onDeSelect)="OnItemDeSelectResource($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                            (onAddFilterNewItem)="onAddItem($event)">
      </angular2-multiselect>

      <app-control-messages [control]="f['resource']"></app-control-messages>
      <!--<select class="js-example-tags form-control">
      <option>Dr. Jain</option>
      <option>Dr. Batra</option>

    </select>-->
    </div>
    <div id="startScreen" class="col-lg-12 text-center mt-2 mb-2"><!---chart-btns this class not use for design purpose-->
      <input type="submit" id="btnSave" name="btnSave"
             [disabled]="p2form.invalid"
             class="btn btn-save mr-2 popup-btn-width" [value]="'key_Save' | translate" />
      <!--<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
      <button class="btn btn-block btn-next">Add</button>
    </div>-->
    </div>
  </div>
 
</form>
