/*--Developer Name: Prabhash Poddar, Date: 02Sep2020, TFS ID: 17275, Logic Description: work on select2 min scss file and manage--*/
.select2-container--classic {
  .select2-selection--multiple {
    .select2-selection__rendered {
      list-style: none;
      margin: 0;
      padding: 0 5px;
      display: block;
    }
  }
}
