<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <!--<th class="no-sort" width="5%">
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="" data-toggle="tooltip" data-placement="top" title="Select all">
                </label>
              </div>
            </th>-->
            <th>{{'key_Contractsdec' | translate}}</th>
            <th>{{'key_Effectivestrt' | translate}}</th>
            <th>{{'key_Effectiveend' | translate}}</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contractList">
            <td>{{item.description}}</td>
            <td>{{item.termStartDate | date: 'MM-dd-yyyy'}}</td>
            <td>{{item.termEndDate | date: 'MM-dd-yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
