<!---Author Name Satyen Singh TFS ID-16921
Date- 22-7-2020
Description- Active Phase - Add header & all charts.
TFS ID-16922
Description- Active Phase - Check for responsiveness.
TFS ID-16923
Description- Active Phase - Check for cross browser compatibility.
Author name- satyen singh
    date- 27-7-2020
Task 16960: Second Phase - Design all popups and check for responsiveness and compatibility.
-->
<!--top patients informationcomponent-->
<div class="row mb-4">
  <div class="col-lg-12">
    <app-patientinformation></app-patientinformation>
  </div>
</div>
<!--end-->
<!--fetal heart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-fetal-heart-second-phase-linechart></app-fetal-heart-second-phase-linechart>
  </div>
</div>
<!--end-->
<!--amoniotic and moulding component-->
<div class="row mt-4 mb-2">
  <div class="col-lg-12">
    <app-amniotic-moulding-second-stage-chart></app-amniotic-moulding-second-stage-chart>
  </div>
</div>
<!--end-->
<!--Caput Area only for second stage-->
<div class="row mb-4">
  <div class="col-lg-12" id="CaputChart">
    <app-caput-succedaneum></app-caput-succedaneum>
  </div>
</div>
<!--end Caput-->
<!--cervix and descent chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-cervix-descent-second-phase></app-cervix-descent-second-phase>
  </div>
</div>
<!--end-->
<!--time chart and hours component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-timechart></app-timechart>
  </div>
</div>
<!--end-->
<!--contraction chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-contractions-second-stage-chart></app-contractions-second-stage-chart>
  </div>
</div>
<!--end-->
<!---oxytocine and min chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-oxitocin-second-stage-chart></app-oxitocin-second-stage-chart>
  </div>
</div>
<!--end-->
<!--drugs chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-drugs-chart-second-stage></app-drugs-chart-second-stage>
  </div>
</div>
<!--end-->
<!--BP and Pluse chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-pulsebp-second-stage-chart></app-pulsebp-second-stage-chart>
  </div>
</div>
<!--end-->
<!--temprature chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-temperature-second-stage-chart></app-temperature-second-stage-chart>
  </div>
</div>
<!--end-->
<!--protein and volume and ascotone chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-protein-aceton-volume-second-stage-chart></app-protein-aceton-volume-second-stage-chart>
  </div>
</div>

<!--bottom next and previous-->
<!--<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-next-previous-button></app-next-previous-button>
  </div>
</div>-->
<!--end-->
<!--start chart history component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-chart-history-second-phase></app-chart-history-second-phase>
  </div>
</div>
