<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-nowrap justify-content-between align-items-center mb-2">

      <div class="btn-group btn-group-toggle btn-group-md" data-toggle="buttons">
        <button id="addAddressButton" (click)="openeditEquipment('addPreferredMaterialButton')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{'key_Add' | translate}}">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>
            {{'key_Add' | translate}}
          </span>
        </button>
        <button id="addAddressButton" [disabled]="editbuttonEnableDisable"  [ngClass]="{'active': btn==='btn2'}" (click)="openeditEquipment('editPreferredMaterialButton')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{'key_Edit' | translate}}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <span>
            {{'key_Edit' | translate}}
          </span>
        </button>
        <button id="deleteButton" [disabled]="buttonEnableDisable" [ngClass]="{'active': btn==='btn4'}" (click)="openeditEquipment('deletePreferredMaterialButton')"class="btn btn btn-outline-danger" type="button" placement="bottom" ngbTooltip="Delete">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span>
            {{'key_Delete' | translate}}
          </span>
        </button>

      </div>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="no-sort" width="5%">
            <div class="form-check-inline">
              <label class="form-check-label">
                <!--<input type="checkbox" class="form-check-input" value="" data-toggle="tooltip" data-placement="top" title="Select all">-->
                <mat-checkbox [checked]="isMaterialAllSelected" (change)="selectMaterialAll($event); false" class="form-check-input"></mat-checkbox>
              </label>
            </div>
          </th>
          <th>Material Name</th>
          <th>Quantity</th>
          <th>UOM (EA)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of preferredMaterialList">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <!--<input type="checkbox" class="form-check-input" value="">-->
                <mat-checkbox [checked]="item.isSelected" (click)="$event.stopPropagation()" class="form-check-input"
                              (change)="selectMaterialCheckbox(item)"></mat-checkbox>
              </label>
            </div>
          </td>
          <td>{{item.materialName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.uomName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

