
<div class="row">
  <div class="card-body pl-0 pt-0">
    <div class="col-md-12">
      <div class="d-flex flex-nowrap justify-content-between align-items-center">
        <div class="btn-group btn-group-toggle btn-group-md" data-toggle="buttons">
          <button id="addAddressButton" class="btn btn-outline-primary" (click)="openeditMaterial1()" type="button" placement="bottom" ngbTooltip="Add">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>
             Add
            </span>
          </button>
          <!-- <button id="editAddressButton" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="Edit">
             <i class="fa fa-pencil" aria-hidden="true"></i>
             <span>
               Edit
             </span>
           </button>-->
          <button id="deleteButton" class="btn btn btn-outline-danger" type="button" placement="bottom" ngbTooltip="Delete">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <span>
              Delete
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of displayedColumns; let i=index;" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, column)"
                           [resizeEdges]="{bottom: false, right: true, top: false, left: true}">

            <div class="form-check-inline" *ngIf="column === selectRow">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
              </label>
            </div>

            <div *ngIf="column != selectRow"> {{ displayedColumnsHeader[i] | translate }}</div>
          </mat-header-cell>

          <mat-cell *matCellDef="let item">
            <div class="form-check-inline" *ngIf="column === selectRow">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                       (change)="selectedvalue(item)"
                       [checked]="selection.isSelected(item)" [disabled]="item.shipmentNumber==editingShipment">
              </label>
            </div>
            {{ item[column] }}
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                 (click)="selection.toggle(row)"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
