<div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <span class="fw600">{{ 'key_LastUpdate' | translate }}:	</span> {{ModuleViewModel.UpdateDateTimeServer | date :'MM-dd-y HH:mm:ss'}}
      <br><span class="fw600">{{ 'key_By' | translate }}</span> {{ModuleViewModel.UpdatedBy}}
    </div>
  </div>
  <!--Last Updated Section End//////////////-->


    <div class="row">
      <div class="col-md-3 custom-flex-w-15">
        <div class="card">
          <div class="card-header">{{ 'key_EditList' | translate }}</div>
          <div class="card-body p-0">
            <div class="list-group">            
              <ul class="list-group" #nextList>
                <li class="list-group-item list-group-item-action" [ngClass]="[datasource.ID === ModuleID ? 'active' : '']"
                    *ngFor="let datasource of modulesToEdit; let i = index" (click)="selected(i)">

                  <a> {{datasource.Module}}</a>

                  <button class="close" *ngIf="i > 0" type="button" (click)="Remove(i)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 custom-flex-w-85">
        <div class="tab-content">
          <!--=============== Start profile =================-->
          <!--=============== Start profile =================-->
          <div class="e-profile">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="box-children">
                  <div class="form-group">
                    <label for="ccmonth">
                      <label>  {{ 'key_Selectmodule' | translate }}</label>
                    </label>
                    <angular2-multiselect [data]="ModuleList" [(ngModel)]="selectedItemsA" [settings]="settingsA"
                                          (onSelect)="onItemSelect($event)"
                                          (onDeSelect)="OnItemDeSelect($event)"
                                          (onSelectAll)="onSelectAll($event)"
                                          (onDeSelectAll)="onDeSelectAll($event)"
                                          (onAddFilterNewItem)="onAddItemA($event)">
                    </angular2-multiselect>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="box-children">
                  <div class="form-group">
                    <label for="ccmonth">
                      {{ 'key_SelectRoles' | translate }}
                    </label>

                    <angular2-multiselect [data]="RolesList" [(ngModel)]="selectedItemsB" [settings]="settingsB"
                                          (onSelect)="onItemSelect($event)"
                                          (onDeSelect)="OnItemDeSelect($event)"
                                          (onSelectAll)="onSelectAll($event)"
                                          (onDeSelectAll)="onDeSelectAll($event)"
                                          (onAddFilterNewItem)="onAddItemA($event)">
                    </angular2-multiselect>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="box-children">
                  <div class="form-group">
                    <label> <label> {{ 'key_Select' | translate }}</label></label>
                  </div>
                  <div class="form-check form-check-inline mr-5" *ngFor="let chktype of PermissionTypeList; let e = index ">
                    <input class="form-check-input" id="inline-radio1" type="radio" value="{{ chktype.id }}" name="inline-radios" [checked]="(chktype.text === permissionTypeName)" (click)="selectPemission($event)">
                    <label class="form-check-label" for="inline-radio1">
                      {{ chktype.text }}
                    </label>
                  </div>
                  <div class="form-group">
                    <button class="btn col-sm-3  btn-next nexttab " (click)="EditRole()">
                      <span class="fw600">{{ 'key_Apply' | translate }}</span>
                    </button>
                  </div>
                  </div>
                </div>
            </div>
          </div>
          <!--=============== End e-profile =================-->
          <!---============bottom panel===============-->
          <div class="row mb-3 mt-3">
            <div class="col-lg-12">
              <!--<div>
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>{{ 'key_Filter' | translate }}</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
                </mat-form-field>
              </div>-->
              <div class="scroll">
                <mat-table #table [dataSource]="dataSource" matSort>

                  <!-- Position Column -->
                <!--<ng-container matColumnDef="selectRow">
                    <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" style="display:none" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                                 [checked]="selection.hasValue() && isAllSelected()"
                                 [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </label>
                      </div>

                    </mat-header-cell>
                    <mat-cell class="t-center tw-5" *matCellDef="let row">
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" style="display:none" value="" (click)="$event.stopPropagation()"
                                 (change)="$event ? selection.toggle(row) : null"
                                 [checked]="selection.isSelected(row)">
                        </label>
                      </div>
                    </mat-cell>
                  </ng-container>-->

                  <ng-container matColumnDef="Module">
                    <mat-header-cell class="tw-33" *matHeaderCellDef mat-sort-header> {{ 'key_Selectmoduleone' | translate }} </mat-header-cell>
                    <mat-cell class="tw-33" *matCellDef="let element"> {{element.Module}} </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="Role">
                    <mat-header-cell class="tw-33" *matHeaderCellDef mat-sort-header> {{ 'key_Selectrole' | translate }} </mat-header-cell>
                    <mat-cell class="tw-33" *matCellDef="let element"> {{element.Role}} </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="Permission">
                    <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_Selectone' | translate }} </mat-header-cell>
                    <mat-cell class="" *matCellDef="let element"> {{element.Permission}} </mat-cell>
                  </ng-container>



                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
             
            </div>
          </div>
          <!---============bottom panel===============-->
          <!--=============== End e-profile =================-->
        </div>
      </div>     
    </div>

    <div class="row justify-content-center my-5">
    
      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12" (click)="selectNext()">
        <button class="btn btn-block btn-save" type="submit">{{ 'key_Save' | translate }}</button>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
        <button class="btn btn-block btn-next" (click)="selectNext()">
          <span class="fw600">{{ 'key_Edit' | translate }}</span> <span class="fs-13"> > {{ 'key_Next' | translate }}</span>
        </button>
      </div>
    </div>
  
</div>


