<div class="row">
  <div class="col-md-5">
    <div class="d-flex flex-nowrap justify-content-between align-items-center mb-2">
      <div class="btn-group btn-group-toggle btn-group-md" data-toggle="buttons">
        <button id="addAddressButton" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="Add New">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>
            {{ 'key_Addoption' | translate }}
          </span>
        </button>
        <button id="deleteButton" class="btn btn btn-outline-danger" type="button" placement="bottom" ngbTooltip="Delete">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span>
            {{ 'key_Deleteoption' | translate }}
          </span>
        </button>
        <button id="deleteButton" class="btn btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{ 'key_Makeorder' | translate }}">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span>
            {{ 'key_Makeorder' | translate }}
          </span>
        </button>
        <button id="deleteButton" class="btn btn btn-outline-primary" type="button" placement="bottom" ngbTooltip=" {{ 'key_Savefinal' | translate }}">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span>
            {{ 'key_Savefinal' | translate }}
          </span>
        </button>
        <button id="deleteButton" class="btn btn btn-outline-primary" type="button" placement="bottom" ngbTooltip=" {{ 'key_Sendshiping' | translate }}">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          <span>
            {{ 'key_Sendshiping' | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <label>{{ 'key_Chargelinestatus' | translate }}</label>
    <angular2-multiselect [data]="itemListA" [(ngModel)]="selectedItemsA" [settings]="settingsA"
                          (onSelect)="onItemSelect($event)"
                          (onDeSelect)="OnItemDeSelect($event)"
                          (onSelectAll)="onSelectAll($event)"
                          (onDeSelectAll)="onDeSelectAll($event)"
                          (onAddFilterNewItem)="onAddItemA($event)">
    </angular2-multiselect>
  </div>
  </div>
