.errorMessage {
  color: #ca1313;
  margin: 0px 0 0px 0px;
  background-color: #fff0f0;
  padding: 0px 5px;
  font-size: 0.8rem;
  transition: 0.5s;
  font-weight: 500;
  border-left: 1px solid #ca1313;
}
