<div>
  <div class="row" *ngIf="editPage">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <span class="fw600">Last Updated:	</span> 8/13/2020 8:35:24 IST
      <br><span class="fw600">By</span> Jay Coleman (lampsdemo@osoftec.com)
    </div>
  </div>
  <!--Last Updated Section End//////////////-->

  <div class="row">
    <div class="col-md-3 custom-flex-w-15">
      <div class="card">
        <div class="card-header" *ngIf="addPage">{{ 'key_AddedList' | translate }}</div>
        <div class="card-header" *ngIf="editPage">{{ 'key_EditList' | translate }}</div>
        <div class="card-body p-0">
          <div class="list-group" #nextList>
            <div class="list-group-item list-group-item-action active">
              <a>Edit Name goes here</a>
              <button class="close" type="button" *ngIf="editPage">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
            <div class="list-group-item list-group-item-action">
              <a>Next Edit Name goes here</a>
              <button class="close" type="button" *ngIf="editPage">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
            <div class="list-group-item list-group-item-action">
              <a>Next Edit Name goes here</a>
              <button class="close" type="button" *ngIf="editPage">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 custom-flex-w-85">
      <div class="tab-content">
        <!--=============== Start profile =================-->

        <div class="e-profile">
          <div class="row">
            <div class="col-md-6">
              <div class="box-children">
                <div class="form-group">
                  <label>{{'key_Equipmentclscode' | translate}} <span class="text-danger ml-1">*</span></label>
                  <input type="text" class="form-control" required />
                </div>
                <div class="form-group">
                  <label>{{'key_Equipmentclsdec' | translate}} <span class="text-danger ml-1">*</span></label>
                  <input type="text" class="form-control" required />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="box-children">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="fw600 mr-3 " for="lastname">{{ 'key_SetupDone' | translate }} </span>
                    <ui-switch uncheckedLabel="No" checkedLabel="Yes" size="small"></ui-switch>
                  </div>
                </div>
                <!--<div class="col-md-12">
                  <div class="form-group">
                    <div class="form-check checkbox">
                      <input class="form-check-input" id="check1" type="checkbox" value="">
                      <label class="form-check-label" for="check1"> {{ 'key_SetupCompleted' | translate }} </label>
                    </div>
                  </div>
                </div>-->
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="fw600 mr-3 " for="lastname"> {{ 'key_SetupDatetime' | translate }} </span>
                    <span for="lastname"> 11/16/2020 5:35:24 IST </span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="fw600 mr-3 " for="lastname"> {{ 'key_SetupCompletedby' | translate }} </span>
                    <span for="lastname"> John</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--=============== End e-profile =================-->
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
      <button class="btn btn-block btn-save" type="submit">{{ 'key_Save' | translate }}</button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12" *ngIf="addPage">
      <button class="btn btn-block btn-next" type="submit">
        <span class="fw600">{{ 'key_Add' | translate }}</span> <span class="fs-13"> > {{ 'key_Next' | translate }}</span>
      </button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12" *ngIf="editPage">
      <button class="btn btn-block btn-next" type="submit">
        <span class="fw600">{{ 'key_Edit' | translate }}</span> <span class="fs-13"> > {{ 'key_Next' | translate }}</span>
      </button>
    </div>
  </div>

</div>
