<div>

  <div class="row">
    <div class="col-md-3 custom-flex-w-15">
      <div class="">
        <!-- <div class="card-header">{{ 'key_AddedList' | translate }}</div>
        <div class="card-body p-0">
         <ul class="list-group">
           <li class="list-group-item list-group-item-action active">Added Name</li>
         </ul>
          </div>-->
      </div>
    </div>
    <div class="col-md-12 custom-flex-w-100">
      <div class="tab-content">
        <!--=============== Start profile =================-->
        <!--=============== Start profile =================-->
        <div class="e-profile">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="box-children">
                <div class="form-group">
                  <label for="ccmonth">
                    {{ 'key_Selectmodule' | translate }}
                  </label>
                  <angular2-multiselect fixFilterBug [data]="ModuleList" [(ngModel)]="selectedItemsA" [settings]="settingsA"
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)"
                                        (onAddFilterNewItem)="onAddItemA($event)">
                  </angular2-multiselect>
                </div>

              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="box-children">
                <div class="form-group">
                  <label for="ccmonth">
                    {{ 'key_SelectRoles' | translate }}
                  </label>
                  <angular2-multiselect fixFilterBug [data]="RolesList" [(ngModel)]="selectedItemsB" [settings]="settingsB"
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)"
                                        (onAddFilterNewItem)="onAddItemA($event)">
                  </angular2-multiselect>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="box-children">
                <div class="form-group mb-1">
                  <label> {{ 'key_Select' | translate }}</label>
                </div>
                <div class="form-check form-check-inline mr-5" *ngFor="let chktype of PermissionTypeList; let e = index ">
                  <input class="form-check-input" id="inline-radio1" type="radio" value="{{ chktype.id }}" name="inline-radios" (click)="selectPemission($event)">
                  <label class="form-check-label" for="inline-radio1">
                    {{ chktype.text }}
                  </label>
                </div>
                <div class="form-group">
                  <button class="btn btn-next nexttab" (click)="AddRole()" [disabled]="permissionTypeId==null">
                    <span class="fw600">{{ 'key_Apply' | translate }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=============== End e-profile =================-->
        <!---============bottom panel===============-->
        <div class="row mb-3 mt-3">
          <div class="col-lg-12">
            <div>
              <button style="margin-bottom:5px;" class="btn btn btn-outline-danger" type="button" (click)="RemoveSelected()" placement="bottom" ngbTooltip="{{ 'key_Delete' | translate }}">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span>
                  {{ 'key_Delete' | translate }}
                </span>
              </button>
            </div>
            <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
            <!-- <div>
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>{{ 'key_Filter' | translate }}</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
              </mat-form-field>
            </div>-->

            <div class="scroll">
              <mat-table #table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="selectRow">
                  <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <mat-checkbox [checked]="isAllSelected" (change)="selectAll($event); false" class="form-check-input"></mat-checkbox>
                      </label>
                    </div>

                  </mat-header-cell>
                  <mat-cell class="t-center tw-5" *matCellDef="let row">
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <mat-checkbox [checked]="row.IsSeleted" (change)="selectedCheckbox($event, row)" class="form-check-input"
                                      (click)="$event.stopPropagation()"></mat-checkbox>
                        <!--<input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">-->
                      </label>
                    </div>
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Module">
                  <mat-header-cell class="tw-33" *matHeaderCellDef mat-sort-header> {{ 'key_Selectmoduleone' | translate }} </mat-header-cell>
                  <mat-cell class="tw-33" *matCellDef="let element"> {{element.Module}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Role">
                  <mat-header-cell class="tw-33" *matHeaderCellDef mat-sort-header> {{ 'key_Selectrole' | translate }} </mat-header-cell>
                  <mat-cell class="tw-33" *matCellDef="let element"> {{element.Role}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Permission">
                  <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_Selectone' | translate }} </mat-header-cell>
                  <mat-cell class="" *matCellDef="let element"> {{element.Permission}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
            <div class="col-lg-12 text-center" *ngIf="dataSource.filteredData.length == 0"><p>No records to display.</p></div>
            <!--<mat-paginator #paginator
                           [pageSize]=""
                           [pageSizeOptions]="[]">
            </mat-paginator>-->
          </div>
        </div>
        <!---============bottom panel===============-->
        <!--=============== End e-profile =================-->
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
      <button class="btn btn-block btn-save" type="submit" (click)="RecordSave()" [disabled]="dataSource.data.length==0">{{ 'key_Save' | translate }}</button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
      <button class="btn btn-block btn-next" (click)="RecordSave()" [disabled]="dataSource.data.length==0">
        <span class="fw600">{{ 'key_Add' | translate }}</span> <span class="fs-13"> > {{ 'key_Next' | translate }}</span>
      </button>
    </div>
  </div>

</div>
