<!--Filters-->
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        {{panelOpenState ? '- Hide' : '+ Show'}} {{'key_shipment'| translate}} Filter
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="row custom-form">
      <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4 d-flex w-100">
        <div class="card">
          <div class="card-header mb-2">
            <div class="card-title">{{ 'key_ShipmentFilter' | translate }} </div>
          </div>
          <div class="card-body p-0">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="nf-password">{{ 'key_ShipmentNo' | translate }}</label>
                <input class="form-control" type="text" [(ngModel)]="shipmentworkbenchFilterModel.shipmentNumber" placeholder="Type shipment no.">
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_ShipmentType' | translate }}</label>
                <angular2-multiselect fixFilterBug [data]="shipmentTypeList"
                                      [(ngModel)]="shipmentworkbenchFilterModel.shipmentTypeSelected"
                                      [settings]="shipmentTypeSetting">
                </angular2-multiselect>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_ShipmentStatus' | translate }}</label>
                <angular2-multiselect fixFilterBug [data]="shipmentStatusList"
                                      [(ngModel)]="shipmentworkbenchFilterModel.shipmentStatusSelected"
                                      [settings]="shipmentStatusSetting">
                </angular2-multiselect>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_ShipmentCondition' | translate }}</label>
                <angular2-multiselect fixFilterBug [data]="shipmentConditionList"
                                      [(ngModel)]="shipmentworkbenchFilterModel.shipmentConditionSelected"
                                      [settings]="shipmentConditionSetting">
                </angular2-multiselect>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_TenderStatus' | translate }}</label>
                <angular2-multiselect fixFilterBug [data]="tenderStatusList"
                                      [(ngModel)]="shipmentworkbenchFilterModel.tenderStatusSelected"
                                      [settings]="tenderStatusSetting">
                </angular2-multiselect>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_Carrier' | translate }}</label>
                <angular2-multiselect fixFilterBug [data]="carrierList"
                                      [(ngModel)]="shipmentworkbenchFilterModel.carrierSelected"
                                      [settings]="carrierSetting">
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4 d-flex w-100">
        <div class="card">
          <div class="card-header mb-2">
            <div class="card-title">{{ 'key_ShipmentLocationFilter' | translate }}</div>
          </div>
          <div class="card-body p-0">
            <div class="row" style="padding: 2px 14px;">
              <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">

                <div class="form-group row">
                  <div class="col-md-6 pr-1">
                    <label for="ccmonth">{{ 'key_Shiptype' | translate }}</label>
                    <angular2-multiselect fixFilterBug [data]="LocationTypeFromList" [(ngModel)]="shipmentworkbenchFilterModel.locationTypeFromSelected"
                                          [settings]="{singleSelection: false,text: 'Select', enableSearchFilter: true, addNewItemOnFilter: false, badgeShowLimit: 1, disabled: false, labelKey: 'name', searchBy: ['name'] }"
                                          name="ShipFromType" #items="ngModel"
                                          (onSelect)="OnShipFromTypeSelect($event)"
                                          (onDeSelect)="OnShipFromTypeDeSelect($event)"
                                          (onSelectAll)="OnShipFromTypeSelectAll($event)"
                                          (onDeSelectAll)="OnShipFromTypeDeSelectAll($event)">
                    </angular2-multiselect>
                  </div>
                  <div class="col-md-6 pl-1">
                    <label for="nf-password">{{ 'key_Shiploc' | translate }}</label>
                    <angular2-multiselect fixFilterBug [data]="LocationFromList" [(ngModel)]="shipmentworkbenchFilterModel.locationFromSelected" [settings]="LocationListSetting">

                    </angular2-multiselect>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-6 pr-1">
                    <label for="ccmonth">{{ 'key_Shiptypeloc' | translate }}</label>
                    <angular2-multiselect fixFilterBug [data]="LocationTypeToList" [(ngModel)]="shipmentworkbenchFilterModel.locationTypeToSelected"
                                          [settings]="{singleSelection: false,text: 'Select', enableSearchFilter: true, addNewItemOnFilter: false, badgeShowLimit: 1, disabled: false, labelKey: 'name', searchBy: ['name'] }"
                                          name="ShipToType" #items="ngModel"
                                          (onSelect)="OnShipToTypeSelect($event)"
                                          (onDeSelect)="OnShipToTypeDeSelect($event)"
                                          (onSelectAll)="OnShipToTypeSelectAll($event)"
                                          (onDeSelectAll)="OnShipToTypeDeSelectAll($event)">
                    </angular2-multiselect>

                  </div>
                  <div class="col-md-6 pl-1">
                    <label for="ccmonth">{{ 'key_Shipto' | translate }}</label>
                    <angular2-multiselect fixFilterBug [data]="LocationToList" [(ngModel)]="shipmentworkbenchFilterModel.locationToSelected" [settings]="LocationListSetting">

                    </angular2-multiselect>
                  </div>
                </div>


              </div>

            </div>
            <hr />
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_OrderNo' | translate }}</label>
                <input class="form-control" id="nf-ship" type="text" [(ngModel)]="shipmentworkbenchFilterModel.orderNumber" name="nf-ship" placeholder="Type order no.">
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_PONo' | translate }}</label>
                <input class="form-control" id="nf-ship1" type="text" name="nf-ship1" [(ngModel)]="shipmentworkbenchFilterModel.poNumber" placeholder="Type PO no.">
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth" class="mr-3">{{'key_ShipWith' | translate}}</label>
                <div class="form-check form-check-inline mt-1">
                  <input type="radio" class="form-check-input" id="all" name="radion11" [(ngModel)]="shipmentworkbenchFilterModel.shipWith" [value]="">
                  <label class="form-check-label mb-0" for="all">All</label>
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input type="radio" class="form-check-input" [(ngModel)]="shipmentworkbenchFilterModel.shipWith" [value]="true" id="yes" name="radion11">
                  <label class="form-check-label mb-0" for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline mt-1">
                  <input type="radio" class="form-check-input" [(ngModel)]="shipmentworkbenchFilterModel.shipWith" [value]="false" id="no" name="radion11">
                  <label class="form-check-label mb-0" for="no">No</label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4 d-flex w-100">
        <div class="card">
          <div class="card-header mb-2">
            <a class="card-title">{{ 'key_ShipmentDataFilter' | translate }}</a>
          </div>
          <div class="card-body p-0">

            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_shipDate' | translate }}</label>
                <ejs-daterangepicker [format]='dateFormat' separator='to' [(ngModel)]="shipmentworkbenchFilterModel.shipDate" placeholder='MM-DD-YYYY to MM-DD-YYYY' id="shipDate"></ejs-daterangepicker>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_ReqDeliveryDate' | translate }}</label>
                <ejs-daterangepicker [format]='dateFormat' separator='to' [(ngModel)]="shipmentworkbenchFilterModel.reqDeliveryDate" placeholder='MM-DD-YYYY to MM-DD-YYYY' id="ReqDeliveryDate"></ejs-daterangepicker>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_MustArriveByDate' | translate }}</label>
                <ejs-daterangepicker [format]='dateFormat' separator='to' [(ngModel)]="shipmentworkbenchFilterModel.mustArriveByDate" placeholder='MM-DD-YYYY to MM-DD-YYYY' id="MustArriveByDate"></ejs-daterangepicker>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_PickupAppointment' | translate }}</label>
                <ejs-daterangepicker [format]='dateFormat' separator='to' [(ngModel)]="shipmentworkbenchFilterModel.pickupAppointment" placeholder='MM-DD-YYYY to MM-DD-YYYY' id="PickupAppointment"></ejs-daterangepicker>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_DeliveryAppointment' | translate }}</label>
                <ejs-daterangepicker [format]='dateFormat' separator='to' [(ngModel)]="shipmentworkbenchFilterModel.deliveryAppointment" placeholder='MM-DD-YYYY to MM-DD-YYYY' id="DeliveryAppointment"></ejs-daterangepicker>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
              <div class="form-group">
                <label for="ccmonth">{{ 'key_ActDeliveryDate' | translate }}</label>
                <ejs-daterangepicker [format]='dateFormat' separator='to' [(ngModel)]="shipmentworkbenchFilterModel.actDeliveryDate" placeholder='MM-DD-YYYY to MM-DD-YYYY' id="ActDeliveryDate"></ejs-daterangepicker>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-9 col-lg-9 text-right mt-4 mb-3 pr-0">
        <div class="row">
          <div class="col-md-1 pr-0 text-center">
            <!--<button class="btn btn-save pt-1 pb-1 font-weight-normal" (click)="applyShippingFilter()">Apply Filter</button>-->
            <!-- <input type="button" class="btn btn-save pt-1 pb-1 font-weight-normal"
                    (click)="applyShippingFilter()"
                    value="Apply Filter">-->
          </div>
          <div class="col-md-2 pr-0 mt-1 pl-0">
            Apply Custom Filter
          </div>
          <div class="col-md-5">
            <select class="form-control" placeholder="Select" id="CustomFilterId"
                    [(ngModel)]="CustomFilterId" #orderType="ngModel"
                    name="CustomFilterId" (change)="ApplyCustomFilterChange($event)" [value]='0'>
              <option value="0" selected>Select</option>
              <option class='option' *ngFor='let order of CustomFilterItemList' [value]="order.Id">
                {{order.FilterName}}
              </option>
            </select>
          </div>
          <div class="col-md-4 text-left pl-0">
            <button class="btn btn-save pt-1 pb-1 font-weight-normal" (click)="applyShippingFilter()">Apply Filter</button>
            <button type="button" class="btn btn-next ml-2 pt-1 pb-1 font-weight-normal" (click)="ResetGlobalFilter()">Reset Filter</button>
            <!--<button class="btn btn-save font-weight-normal" data-toggle="modal" data-target="#customfilter">Apply Custom Filter</button>-->
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3 text-center mt-4 mb-3 pr-3">
        <button type="button" class="btn btn-save font-weight-normal pt-1 pb-1 " data-toggle="modal" (click)="OpenManageCustomFilter()">Manage Custom Filters</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!--end filter-->

<section class="moreOptions mt-4" id="more-option">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" (click)="tabClick('outbound')" *ngIf="isCustomer">
      <a class="nav-link" id="outbound-tab" data-toggle="tab" href="#outbound"
         role="tab" aria-controls="Outbound" aria-selected="false"
         [ngClass]="{ 'active':activeTab==='outbound'}">{{'key_customerr'| translate}}</a>
      <!--(click)="search('outbound')"-->
    </li>
    <li class="nav-item" (click)="tabClick('inbound')" *ngIf="isStockCollection">
      <a class="nav-link" id="inbound-tab" data-toggle="tab" href="#inbound"
         role="tab" aria-controls="Inbound" aria-selected="true"
         [ngClass]="{ 'active':activeTab==='inbound'}">{{'key_stockcollection'| translate}}</a>
      <!----(click)="result('inbound')"-->
    </li>
  </ul>

  <div class="tab-content pb-3 pt-3" id="myTabContent">
    <app-table-filter (filterOn)="applyFilterCustomer($event)"></app-table-filter>

    <div class="tab-pane fade" id="outbound" role="tabpanel" aria-labelledby="outbound-tab"
         [ngClass]="{ 'active show':activeTab==='outbound'}" *ngIf="isCustomer">
      <!--shipment grid-->
      <div class="row">
        <div class="col-lg-12">
          <div class="scroll resize-table">
            <mat-table #table [dataSource]="dsSDInbound" matSort (matSortChange)="customSort($event)">
              <ng-container *ngFor="let column of shipmentColumns; let i=index;" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" [index]="i">
                  <div class="form-check-inline" *ngIf="column === selectRow">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all"
                             (change)="$event ? masterToggle() : null"
                             [checked]="selection.hasValue() && isAllSelected()"
                             [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </label>
                  </div>

                  <div *ngIf="column != selectRow"> {{ shipmentColumnsNew[i] | translate }}</div>
                </mat-header-cell>

                <mat-cell *matCellDef="let item">
                  <div class="form-check-inline" *ngIf="column === selectRow">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                             (change)="selectedvalue(item, $event.target.checked)"
                             [checked]="selection.isSelected(item)" [disabled]="item.shipmentNumber==editingShipment">
                    </label>
                  </div>
                  <div *ngIf="column == orderQuantity">{{ item[column] | number }}</div>
                  <div *ngIf="column == totalShipmentQuantity">{{ item[column] | number }}</div>

                  <div *ngIf="column === orderNumber">
                    <a href="javascript:void(0)" (click)="editOrderLink('edit',item)">
                      {{item[column]}}
                    </a>
                  </div>

                  <div *ngIf="column != orderQuantity && column !=totalShipmentQuantity && column !=orderNumber" title="{{ item[column] }}"> {{ item[column] }}</div>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="shipmentColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: shipmentColumns;"
                       (click)="selectedvalue(row, $event.target.checked)"
                       [ngClass]="{ 'selected': selection.isSelected(row), 'inactive': row.isSendToMAS == true}"
                       (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
              </mat-row>
              <!--<mat-row *matRowDef="let row; columns: shipmentColumns;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                       (click)="selection.toggle(row)">
              </mat-row>-->
            </mat-table>
          </div>

          <div class="col-lg-12 text-center" *ngIf="dsSDInbound.data.length == 0"><p>No records to display.</p></div>
          <mat-paginator #paginator
                         [length]="paginationModel.itemsLength"
                         [pageSize]="paginationModel.pageSize"
                         [pageSizeOptions]="paginationModel.pageSizeOptions"
                         (page)="onPaginationEvent($event)">
          </mat-paginator>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="inbound" role="tabpanel" aria-labelledby="inbound-tab"
         [ngClass]="{ 'active show':activeTab==='inbound'}" *ngIf="isStockCollection">
      <div class="row">
        <div class="col-lg-12">
          <div class="scroll resize-table">
            <mat-table #table [dataSource]="dsSDOutbound" matSort (matSortChange)="customSort($event)">
              <ng-container *ngFor="let column of shipmentColumns1; let i=index;" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef mat-sort-header [resizeColumn]="true" [index]="i">

                  <div class="form-check-inline" *ngIf="column === selectRow">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all"
                             (change)="$event ? masterToggle1() : null"
                             [checked]="selection.hasValue() && isAllSelected1()"
                             [indeterminate]="selection.hasValue() && !isAllSelected1()">
                    </label>
                  </div>

                  <div *ngIf="column != selectRow"> {{ shipmentColumnsNew[i] | translate }}</div>
                </mat-header-cell>

                <mat-cell *matCellDef="let item">
                  <div class="form-check-inline" *ngIf="column === selectRow">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                             (change)="selectedvalue(item, $event.target.checked)"
                             [checked]="selection.isSelected(item)" [disabled]="item.shipmentNumber==editingShipment">
                    </label>
                  </div>
                  <div *ngIf="column == orderQuantity">{{ item[column] | number }}</div>
                  <div *ngIf="column == totalShipmentQuantity">{{ item[column] | number }}</div>

                  <div *ngIf="column === orderNumber">
                    <a href="javascript:void(0)" (click)="editOrderLink('edit',item)">
                      {{item[column]}}
                    </a>
                  </div>

                  <div *ngIf="column != orderQuantity && column !=totalShipmentQuantity && column !=orderNumber" title="{{ item[column] }}"> {{ item[column] }}</div>

                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="shipmentColumns1"></mat-header-row>
              <!--<mat-row *matRowDef="let row; columns: shipmentColumns1;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                       (click)="selection.toggle(row)">
              </mat-row>-->
              <mat-row *matRowDef="let row; columns: shipmentColumns1;"
                       (click)="selectedvalue(row, $event.target.checked)"                       
                       [ngClass]="{ 'selected': selection.isSelected(row), 'inactive': row.isSendToMAS == true}"                       
                       (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
              </mat-row>
            </mat-table>
            <div class="col-lg-12 text-center" *ngIf="dsSDOutbound.data.length == 0"><p>No records to display.</p></div>
          </div>
          <mat-paginator #paginator
                         [length]="paginationModel.itemsLength"
                         [pageSize]="paginationModel.pageSize"
                         [pageSizeOptions]="paginationModel.pageSizeOptions"
                         (page)="onPaginationEvent1($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal" id="customfilter">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i aria-hidden="true" class="fa fa fa-sliders fa-3x"></i> Change Filter
        </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="text-center">
          Customize your search by adding or removing filters. A saved search will retain the custom filters.
        </p>
        <div class="card-body brd filterpopscroll">
          <div class="bg">
            <div>
              <div class="">
                <input id="myCheckbox" type="checkbox">
                <label for="myCheckbox" class="ml-2">{{ 'key_SelectFromExiting' | translate }}Order No.</label>
                <span></span>
              </div>
              <div class="">
                <input id="myCheckbox2" type="checkbox">
                <label for="myCheckbox2" class="ml-2">{{ 'key_SelectFromExiting' | translate }}Show All Versions</label>
                <span></span>
              </div>
              <div class="">
                <input id="myCheckbox3" type="checkbox">
                <label for="myCheckbox3" class="ml-2">{{ 'key_SelectFromExiting' | translate }}Ship From Lopcation Type</label>
                <span></span>
              </div>
              <div class="">
                <input id="myCheckbox4" type="checkbox">
                <label for="myCheckbox4" class="ml-2">{{ 'key_SelectFromExiting' | translate }}Schedule Ship Date</label>
                <span></span>
              </div>
              <div class="">
                <input id="myCheckbox5" type="checkbox">
                <label for="myCheckbox5" class="ml-2">{{ 'key_SelectFromExiting' | translate }}Order Condition</label>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <input type="button" id="btnNext" class="btn btn-next font-weight-normal  mr-3" value="Update">
        </div>
      </div>

      <!-- Modal footer -->

    </div>
  </div>
</div>

<!--manage-filter-->
<div class="modal" id="manageFilter">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{'key_SaveCurrentFilterAs' | translate}}
        </h5>
        <button type="button" class="close" (click)="CloseManageFilter()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row mt-3 mb-3">
          <div class="col-md-2 pr-0 mt-2">
            {{'key_NewFilterName' | translate}}
          </div>
          <div class="col-md-6">
            <input type="text" name="filter" class="form-control" [(ngModel)]="FilterName" />
          </div>
          <div class="col-md-3 mt-1">
            <div class="form-check checkbox">
              <input id="check1" type="checkbox" class="form-check-input" [checked]="DefaultFilter" (change)="DefaultFilter = !DefaultFilter">
              <label for="check1" class="form-check-label">
                {{'key_SetAsDefault' | translate}}
              </label>
            </div>
          </div>
        </div>
        <div class="text-center mt-4 mb-3">
          <button type="button" id="btnNext" class="btn btn-next font-weight-normal  mr-3"
                  [disabled]='shipmentWorkbenchHasReadOnlyAccess' (click)="CreateNewFilter()" value="Create New Filter">
            Create New Filter
          </button>
        </div>
        <hr />
        <h5> {{'key_ResetDefault' | translate}}</h5>
        <div class="card-body filterpopscroll">

          <div class="bg">
            <div class="row">

              <div class="d-flex flex-nowrap justify-content-between align-items-center mb-2">
                <div class="btn-group btn-group-toggle btn-group-md" data-toggle="buttons">
                  <button class="btn btn-outline-primary" type="button" *ngIf="IsEditDelete" (click)="buttonAction('edit')" placement="bottom" ngbTooltip="{{'key_Edit' | translate}}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span>
                      {{'key_Edit' | translate}}
                    </span>
                  </button>
                  <button id="deleteButton" [disabled]='shipmentWorkbenchHasReadOnlyAccess' class="btn btn btn-outline-danger" *ngIf="IsEditDelete" (click)="buttonAction('delete')" type="button" placement="bottom" ngbTooltip="{{'key_Delete' | translate}}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <span>
                      {{'key_Delete' | translate}}
                    </span>
                  </button>
                  <button class="btn btn btn-outline-success" [disabled]='shipmentWorkbenchHasReadOnlyAccess' type="button" *ngIf="IsSaveCancel" (click)="buttonAction('save')" placement="bottom" ngbTooltip="{{'key_Save' | translate}}">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span>
                      {{'key_Save' | translate}}
                    </span>
                  </button>
                  <button class="btn btn btn-outline-danger" type="button" *ngIf="IsSaveCancel" (click)="buttonAction('cancel')" placement="bottom" ngbTooltip="{{'key_Cancel' | translate}}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <span>
                      {{'key_Cancel' | translate}}
                    </span>
                  </button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="scroll resize-table">
                    <mat-table #table [dataSource]="ManageFilterdSShipment" matSort>
                      <ng-container matColumnDef="selectRow">
                        <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="" data-toggle="tooltip" data-placement="top"
                                     (click)="$event.stopPropagation()"
                                     (change)="onSelectionChangeCustomFilter(row,  $event.target.checked)"
                                     [checked]="selection.isSelected(row)">
                            </label>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="FilterName" style="width: 70% !important;">
                        <mat-header-cell style="width:70% !important;" class="" *matHeaderCellDef mat-sort-header>Filter Name</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 70% !important;">
                          <div class="dd-field" *ngIf="isEditMode && element.isEdited">
                            <input type="text" class="form-control" value="{{ element.FilterName }}" (blur)="onBlurFilterName($event.target.value)" [(ngModel)]="FilterNameEdit" />
                          </div>
                          <div *ngIf="!element.isEdited">
                            {{ element.FilterName }}
                          </div>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="DefaultFilter" style="width: 20% !important;">
                        <mat-header-cell style="width: 20% !important;" *matHeaderCellDef mat-sort-header>Default Filter</mat-header-cell>
                        <mat-cell *matCellDef="let element" style="width: 20% !important;">
                          <div class="dd-field" *ngIf="isEditMode && element.isEdited">
                            <input style="margin-left: 10px;" id="check1" type="checkbox" class="form-check-input" [checked]="DefaultFilterEdit" (change)="DefaultFilterEdit = !DefaultFilterEdit">
                          </div>
                          <div *ngIf="!element.isEdited">
                            {{ element.DefaultFilter }}
                          </div>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="ManageFilterdisplayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: ManageFilterdisplayedColumns;"
                               [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
                               (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
                      </mat-row>
                    </mat-table>
                  </div>
                  <div class="col-lg-12 text-center" *ngIf="ManageFilterdSShipment.data.length == 0"><p>No records to display.</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


