
<form #preferredEquipmentType="ngForm" (ngSubmit)="addPreferredEquipmentType()">
  <div class="modal-header">
    <h4 class="modal-title">Add Equipment Type</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">

    <div class="form-group">
      <label for="firstname">{{ 'key_Mappedequipmenttype' | translate }} </label>
      <angular2-multiselect [data]="equipmentTypeData" [(ngModel)]="selectedItemsB" [settings]="settingsB"
                            (onSelect)="onEquipmentSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                            (onAddFilterNewItem)="onAddItemB($event)" name="equipmentType">
      </angular2-multiselect>
    </div>

  </div>
  <div class="col-lg-12 text-center mt-4 mb-4">
    <!--<input type="submit" id="btnSave" name="btnSave" class="btn btn-save mr-2 popup-btn-width" value="Save">-->
    <input type="submit" id="btnSave" name="btnSave"
           class="btn btn-save mr-2 popup-btn-width"
           value="{{ 'key_Save' | translate }}" [disabled]="isValidated === 0">
  </div>
</form>

