<div id="accordionTab1" class="accordion mt-5">
  <div class="card mb-0">
    <div class="card-header collapsed" data-toggle="collapse" href="#DefineCharacteristics">
      <a class="card-title">
        Define Characteristics
      </a>
    </div>
    <div id="DefineCharacteristics" class="card-body collapse" data-parent="#accordionTab1">
      <!--Component call here-->
    </div>
    <div class="card-header collapsed" data-toggle="collapse" href="#DefineEquipment">
      <a class="card-title">
        Define Equipment-Material Characteristics
      </a>
    </div>
    <div id="DefineEquipment" class="card-body collapse" data-parent="#accordionTab1">
      <!--Component call here-->
    </div>
    <div class="card-header collapsed" data-toggle="collapse" href="#MapForecast">
      <a class="card-title">
        Map Forecast Customer Location
      </a>
    </div>
    <div id="MapForecast" class="card-body collapse" data-parent="#accordionTab1">
      <!--Component call here-->
    </div>
  </div>
</div>
