
<div class="form-group">
  <label for="company">{{ 'key_Enterprise' | translate }}</label>
  <select class="form-control" required>
    <option>Please Select</option>
  </select>
</div>
<div class="form-group">
  <label for="vat">{{ 'key_Country' | translate }}</label>
  <select class="form-control" required>
    <option>Please Select</option>
  </select>
</div>
<div class="form-group">
  <label for="street">{{ 'key_Region' | translate }}</label>
  <select class="form-control" required>
    <option>Please Select</option>
  </select>
</div>
<div class="form-group">
  <label for="street">{{ 'key_State' | translate }}</label>
  <select class="form-control" required>
    <option>Please Select</option>
  </select>
</div>


