table {
  width: 100%;
}

.bgtr {
  background: #f1f1f1;
}

tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
  position: relative;
}

.accordion-toggle .expand-button:after {
  position: absolute;
  left: .75rem;
  top:44%;
  transform: translate(0, -50%);
  content: '-';
  font-size: 28px;
}

.accordion-toggle.collapsed .expand-button:after {
  content: '+';
}
