<!--Author name- satyen
TFS ID 16712
    Description:Latent Phase - Cervix & Descent of head - When the plot crosses the alert line, a popup with Input fields, Oxytocin(checkbox), PGE1,(textbox) PGE2,(textbox  ARM,(textbox)) Foley's Cathedor,(textbox) Other(textbox); will be pinned to graph..
    Date:8-7-2020
    start code
-->
<div class="modal-header">
  <h4 class="modal-title">Alert </h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputtxt">Input</label>
        <input class="form-control" id="Registration" type="text" placeholder="">
      </div>
    </div>
    <div class="col-md-9 col-form-label">
      <div class="form-check form-check-inline mr-3">
        <input id="inline-checkbox1" type="checkbox" value="check1" class="form-check-input">
        <label for="inline-checkbox1" class="form-check-label">Oxytocin</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputtxt">PGE1</label>
        <input class="form-control" id="Registration" type="text" placeholder="">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputtxt">PGE2</label>
        <input class="form-control" id="Registration" type="text" placeholder="">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputtxt">ARM</label>
        <input class="form-control" id="Registration" type="text" placeholder="">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputtxt">Foley's Cathedor</label>
        <input class="form-control" id="Registration" type="text" placeholder="">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputtxt">Others</label>
        <input class="form-control" id="Registration" type="text" placeholder="">
      </div>
    </div>
  </div>

</div>

<!--  TFS ID 16712  Date:8-7-2020
    start code-->
