<div class="">
  <form #editForm="ngForm" (ngSubmit)="editForm.form.valid" novalidate>
    <div class="">
     <!-- <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>-->
      <!--   <mat-form-field appearance="outline" fxFlex="100">
       <mat-label>{{ 'key_Filter' | translate }}</mat-label>
       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
     </mat-form-field>-->

      <div class="scroll resize-table">
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container *ngFor="let column of displayedColumns; let i=index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, column)"
                             [resizeEdges]="{bottom: false, right: true, top: false, left: true}">

              <div class="form-check-inline" *ngIf="column === selectRow">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                         [checked]="selection.hasValue() && isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()">
                </label>
              </div>
              <div *ngIf="column != selectRow"> {{ displayedColumnsReplace[i] | translate}}</div>
            </mat-header-cell>

            <mat-cell *matCellDef="let item;let rowIdx = index">
              <div class="form-check-inline" *ngIf="column === selectRow">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(item) : null"
                         [checked]="selection.isSelected(item)">
                </label>
              </div>
              <div class="text-center" *ngIf="column === Material">
                <select class="form-control w-input" matInput #Material="ngModel" name="txtMaterial{{rowIdx}}" [(ngModel)]="item.Material" required>
                  <option *ngFor="let material of MaterialDescription; let i = index" [value]="MaterialDescription[i].id">
                    {{MaterialDescription[i].description}}
                  </option>
                </select>
              </div>
              <div class="" *ngIf="column === Charge">
                <select class="form-control w-input" matInput #Charge="ngModel" name="txtCharge{{rowIdx}}" [(ngModel)]="item.Charge" required>
                  <option *ngFor="let chargedesc of ChargeDescription; let i = index" [value]="ChargeDescription[i].id">
                    {{ChargeDescription[i].description}}
                  </option>
                </select>
              </div>
              <div class="" *ngIf="column === Rate">
                <input type="text" matInput #Rate="ngModel" name="txtRate{{rowIdx}}" [(ngModel)]="item.Rate" class="form-control w-input" required />
              </div>
              <div class="text-center" *ngIf="column === RateType">
                <select class="form-control w-input" matInput #RateType="ngModel" name="txtRateType{{rowIdx}}" [(ngModel)]="item.RateType" required>
                  <option *ngFor="let ratetyp of RateTypeList; let i = index" [value]="RateTypeList[i].id">
                    {{RateTypeList[i].description}}
                  </option>
                </select>
              </div>
              <div class="text-center" *ngIf="column === UOM">
                <select class="form-control w-input" matInput #UOM="ngModel" name="txtUOM{{rowIdx}}" [(ngModel)]="item.UOM">
                  <option *ngFor="let uom of UomList; let i = index" [value]="UomList[i].id">
                    {{UomList[i].description}}
                  </option>
                </select>
              </div>
              <div class="" *ngIf="column === Quantity_per_UOM">
                <input type="text" class="form-control w-input" matInput #QuantityperUOM="ngModel" name="txtQuantityperUOM{{rowIdx}}" [(ngModel)]="item.Quantity_per_UOM" required />
              </div>
              <div class="text-center" *ngIf="column === Commodity">
                <select class="form-control w-input" matInput #Commodity="ngModel" name="txtCommodity{{rowIdx}}" [(ngModel)]="item.Commodity" required>
                  <option value="">Commodity</option>
                  <option *ngFor="let commodity of commodityData; let i = index" [value]="commodityData[i].id">
                    {{commodityData[i].name}}
                  </option>
                </select>
              </div>
              <div class="text-center" *ngIf="column === Sales_Tax_Price">
                <select class="form-control w-input" matInput #SalesTaxPrice="ngModel" name="txtSalesTaxPrice{{rowIdx}}" [(ngModel)]="item.Sales_Tax_Price">
                  <option *ngFor="let salestax of salesTaxClass; let i = index" [value]="salesTaxClass[i].id">
                    {{salesTaxClass[i].name}}
                  </option>
                </select>
              </div>
              <div class="text-center" *ngIf="column === MethodType">
                <select class="form-control w-input" matInput #MethodType="ngModel" name="txtMethodType{{rowIdx}}" [(ngModel)]="item.MethodType" required>
                  <option *ngFor="let pricemethod of priceMethodData; let i = index" [value]="priceMethodData[i].id">
                    {{priceMethodData[i].description}}
                  </option>
                </select>
              </div>
              <div class="form-check-inline text-center" *ngIf="column === ShowOnBOL">
                <mat-checkbox #ShowOnBOL="ngModel" name="txtShowOnBOL{{rowIdx}}" [(ngModel)]="item.ShowOnBOL"></mat-checkbox>
              </div>
              <div class="form-check-inline text-center" *ngIf="column === AutoAdded">
                <mat-checkbox #AutoAdded="ngModel" name="txtAutoAdded{{rowIdx}}" [(ngModel)]="item.AutoAdded"></mat-checkbox>
              </div>
              <div class="form-check-inline text-center" *ngIf="column === AddPallet">
                <mat-checkbox #AddPallet="ngModel" name="txtAddPallet{{rowIdx}}" [(ngModel)]="item.AddPallet"></mat-checkbox>
              </div>
              <div class="text-center" *ngIf="column === PriceIncreaseMethod">
                <select class="form-control w-input" matInput #PriceIncreaseMethod="ngModel" name="txtPriceIncreaseMethod{{rowIdx}}" [(ngModel)]="item.PriceIncreaseMethod">
                  <option *ngFor="let pricemethod of priceIncreaseMethodData; let i = index" [value]="priceIncreaseMethodData[i].id">
                    {{priceIncreaseMethodData[i].description}}
                  </option>
                </select>
              </div>
              <div *ngIf="column === EffectiveStart">
                <ejs-datepicker matInput #EffectiveStart="ngModel" name="txtEffectiveStart{{rowIdx}}" [(ngModel)]="item.EffectiveStart" [format]='dateFormat' placeholder='MM-dd-yyyy'></ejs-datepicker>
              </div>
              <div *ngIf="column === EffectiveEnd">
                <ejs-datepicker matInput #EffectiveEnd="ngModel" name="txtEffectiveEnd{{rowIdx}}" [(ngModel)]="item.EffectiveEnd" [format]='dateFormat' placeholder='MM-dd-yyyy'></ejs-datepicker>
              </div>
              <div class="grid-button pt-2 text-center" *ngIf="column === Add_New">
                <a class="a_hover" (click)="addRow(item)"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
              <div class="grid-button pt-2 text-center" *ngIf="column === Delete">
                <a class="a_hover" (click)="RemoveRow(item)"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
              <div *ngIf="column!=Material && column!=Charge && column!=Rate && column!=RateType && column!=UOM && column!=Quantity_per_UOM && column!=Commodity && column!=Sales_Tax_Price && column!=MethodType && column!=ShowOnBOL && column!=AutoAdded && column!=AddPallet && column!=PriceIncreaseMethod && column!=EffectiveStart && column!=EffectiveEnd && column!=Add_New && column!=Delete">{{ item[column] }}</div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </div>

      <!--  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>-->
    </div>
    <div class="col-md-12 text-center mt-3 mb-3"><button class="btn btn-next" [disabled]="editForm.invalid" (click)="AddData(editForm)">Save</button></div>
  </form>
</div>




