<div class="row">
  <div class="col-lg-12">
    <div>
      <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
    </div>
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="selectRow">
          <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
            <div class="form-check-inline">
              <label class="form-check-label">
                <!--<mat-checkbox [checked]="isAllSelected" (change)="selectAll($event); false" class="form-check-input"></mat-checkbox>-->
                <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all"
                       [checked]="selection.hasValue() && isAllSelecteds()"
                       [indeterminate]="selection.hasValue() && !isAllSelecteds()"
                       (change)="$event ? masterToggle() : null">
              </label>
            </div>

          </mat-header-cell>
          <mat-cell class="t-center tw-5" *matCellDef="let row" let i="index" (click)="dataemit()">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                       (change)="onSelectionChange(row, $event.target.checked)"
                       [checked]="selection.isSelected(row)">
                <!--<input type="checkbox" [checked]="row.IsSeleted" class="form-check-input" value="" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">-->
              </label>
            </div>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="id">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_Id' | translate }} </mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Code">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_Code' | translate }} </mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Name">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_Name' | translate }} </mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Description">
          <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_Description' | translate }} </mat-header-cell>
          <mat-cell class="" *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fuelSurFreightModePercentageRate">
          <mat-header-cell class="t-right" *matHeaderCellDef mat-sort-header> {{ 'key_FuelSurchargePercentageRate' | translate }} </mat-header-cell>
          <mat-cell class="t-right" *matCellDef="let element"> {{element.fuelSurFreightModePercentageRate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MilesPerGallon">
          <mat-header-cell class="t-right" *matHeaderCellDef mat-sort-header> {{ 'key_MilesPerGallon' | translate }} </mat-header-cell>
          <mat-cell class="t-right" *matCellDef="let element"> {{element.milesPerGallon}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MilesPerHour">
          <mat-header-cell class="t-right" *matHeaderCellDef mat-sort-header> {{ 'key_MilesPerHour' | translate }} </mat-header-cell>
          <mat-cell class="t-right" *matCellDef="let element"> {{element.milesPerHour}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DriverHoursPerDay">
          <mat-header-cell class="t-right" *matHeaderCellDef mat-sort-header> {{ 'key_DriverHoursPerDay' | translate }} </mat-header-cell>
          <mat-cell class="t-right" *matCellDef="let element"> {{element.driverHoursPerDay}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row.IsSeleted}"
                 (click)="selectCheckbox(row)"></mat-row>
        <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                 (click)="selogection.tgle(row)"></mat-row>-->
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="commonViewModel.itemsLength"
                   [pageSize]="commonViewModel.pageSize"
                   [pageSizeOptions]="commonViewModel.pageSizeOptions"
                   (page)="onPaginationEvent($event)">
    </mat-paginator>
  </div>
</div>
