<div class="row">
  <div class="col-md-5">
    <div class="d-flex flex-nowrap justify-content-between align-items-center mb-3">
      <!--<div></div>-->
      <div>
        <div class="btn-group btn-group-toggle btn-group-md">
          <button [ngClass]="{'active': btn==='btn1'}" [disabled]="Inactive ? true : false" (click)="openeditMaterial('addNew')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{ 'key_AddEdit' | translate }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>
              {{ 'key_AddEdit' | translate }}
            </span>
          </button>
          <button [ngClass]="{'active': btn==='btn2'}" [disabled]="Inactive ? true : false" (click)="openeditMaterial('delete')" class="btn btn-outline-danger" type="button" placement="bottom" ngbTooltip="{{ 'key_Delete' | translate }}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <span>
              {{ 'key_Delete' | translate }}
            </span>
          </button>
          <!--<button [ngClass]="{'active': btn==='btn3'}" (click)="openeditMaterial('export')" class="btn btn-outline-success" type="button" placement="bottom" ngbTooltip="{{ 'key_Export' | translate }}">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span>
              {{ 'key_Export' | translate }}
            </span>
          </button>-->
          <!--<button [ngClass]="{'active': btn==='btn4'}" (click)="openeditMaterial('import')" class="btn btn-outline-success" type="button" placement="bottom" ngbTooltip="{{ 'key_Import' | translate }}">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span>
              {{ 'key_Import' | translate }}
            </span>
          </button>-->

        </div>

      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="form-inline row form-group">
      <div class="col-sm-12 col-md-6">
        <label class="pull-right">{{ 'key_CopyCharacteristicsfromEquipment' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-6">
        <angular2-multiselect fixFilterBug [data]="EquipmentNameList" [(ngModel)]="selectedEquipmentName" [settings]="settingsA"
                              name="EquipmentNameList" (onSelect)="onItemSelect($event)">
        </angular2-multiselect>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
    <!-- <div>
       <mat-form-field appearance="outline" fxFlex="100">
         <mat-label>{{ 'key_Filter' | translate }}</mat-label>
         <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
       </mat-form-field>
     </div>-->
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="selectRow">
          <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
              </label>
            </div>

          </mat-header-cell>
          <mat-cell class="t-center tw-5" *matCellDef="let row">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                       (change)="$event ? selection.toggle(row) : null"
                       [checked]="selection.isSelected(row)">
              </label>
            </div>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="MaterialDescription">
          <mat-header-cell class="tw-30" *matHeaderCellDef mat-sort-header> {{ 'key_MaterialDescription' | translate }} </mat-header-cell>
          <mat-cell class="tw-30" *matCellDef="let element"> {{element.materialDescription}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Characteristics">
          <mat-header-cell class="tw-35" *matHeaderCellDef mat-sort-header> {{ 'key_Characteristics' | translate }} </mat-header-cell>
          <mat-cell class="tw-35" *matCellDef="let element"> {{element.entityPropertyDescription}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="CharacteristicsValue">
          <mat-header-cell class="tw-15" *matHeaderCellDef mat-sort-header> {{ 'key_CharacteristicsValue' | translate }} </mat-header-cell>
          <mat-cell class="tw-15" *matCellDef="let element"> {{element.propertyValue}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UOM">
          <mat-header-cell class="tw-15" *matHeaderCellDef mat-sort-header> {{ 'key_UOM' | translate }} </mat-header-cell>
          <mat-cell class="tw-15" *matCellDef="let element"> {{element.propertiesUOM}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                 (click)="selection.toggle(row)"></mat-row>
      </mat-table>
      <div class="col-lg-12 text-center" *ngIf="dataSource.data.length == 0"><p>No records to display.</p></div>
    </div>

    <mat-paginator #paginator
                   [length]="paginationModel.itemsLength"
                   [pageSize]="paginationModel.pageSize"
                   [pageSizeOptions]="paginationModel.pageSizeOptions"
                   (page)="onPaginationEvent($event)">
    </mat-paginator>
  </div>
</div>
