<!---Author Name Satyen Singh TFS ID-16918 Date- 22-7-2020
 Description- Active Phase - Add header & all charts.
TFS ID-16919
Description- Active Phase - Check for responsiveness.
TFS ID-16920
Description- Active Phase - Check for cross browser compatibility.
  Author name- satyens singh
    date- 27-07-2020
   TFS ID 16959
Active Phase - Design all popups and check for responsiveness and compatibility.
-->
<!--top steper component-->
<!--top patients informationcomponent-->
<div class="row mb-4">
  <div class="col-lg-12">
    <app-patientinformation></app-patientinformation>
  </div>
</div>
<!--end-->
<!--fetal heart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-fetal-heart-active-phase-linechart></app-fetal-heart-active-phase-linechart>
  </div>
</div>
<!--end-->
<!--amoniotic and moulding component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-amniotic-moulding-active-phasechart></app-amniotic-moulding-active-phasechart>
    <!--<app-amniotic-mouldingchart></app-amniotic-mouldingchart>-->
  </div>
</div>
<!--end-->
<!--cervix and descent chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-cervix-descentchartNew></app-cervix-descentchartNew>
  </div>
</div>
<!--end-->
<!--time chart and hours component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-timechart></app-timechart>
  </div>
</div>
<!--end-->
<!--contraction chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">

    <app-contractions-active-phaseChart></app-contractions-active-phaseChart>
  </div>
</div>
<!--end-->
<!---oxytocine and min chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-oxitocin-active-phasechart></app-oxitocin-active-phasechart>
  </div>
</div>
<!--end-->
<!--drugs chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-drugs-active-phaseChart></app-drugs-active-phaseChart>
  </div>
</div>
<!--end-->
<!--BP and Pluse chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-pulsebp-active-phaseChart></app-pulsebp-active-phaseChart>
  </div>
</div>
<!--end-->
<!--temprature chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-temprature-active-phasechart></app-temprature-active-phasechart>
  </div>
</div>
<!--end-->
<!--protein and volume and ascotone chart component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-tempproteinvolumeaceton-active-phasechart></app-tempproteinvolumeaceton-active-phasechart>
  </div>
</div>
<!--end-->
<!--bottom next and previous-->
<!--<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-next-previous-button></app-next-previous-button>
  </div>
</div>-->
<!--end-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-chart-history-active-phase></app-chart-history-active-phase>
  </div>
</div>
