<section class="tosca-login d-flex align-items-center justify-content-center">
  <div class="login-screen">
    <div class="row">

      <div class="col-md-12">
        <div class="logo">
          <img src="assets/images/tosca-logo.png" />
        </div>
      </div>
      <div class="col-md-12">
        <form class="form-area" (ngSubmit)="submit()" [formGroup]="forgotform">
          <div class="mb-4">
            <h4 class="text-center">Forgot Password</h4>
            <h5 class="text-center">Please enter your User Id to reset your password</h5>
          </div>
          <div class="form-group">
            <label>User ID</label>
            <input type="Email" maxlength="150" class="form-control"  [(ngModel)]="LoginId" formControlName="LoginId" placeholder="Enter Login ID" (ngModelChange)="EmailValidate($event)" required >
          </div>
          <div class="row mt-4">
            <div class="col-lg-6">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-submit" [disabled]="forgotform.invalid">
                  <span [hidden]="isLoading">Submit</span>
                  <span [hidden]="!isLoading">
                    <i class="fa fa-asterisk fa-spin" aria-hidden="true"></i>
                  </span>                  
                </button>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <a class="btn btn-outline-primary btn-block" [routerLink]="['/auth/tosca-login']">Cancel</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-center">
                <p>
                  In case you forgot your User Id, please contact customer service.
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
