<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">{{'key_Businesspartnercharacteristics' | translate}}</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <table class="table display-table edit-table table-responsive">
    <thead class="thead-light">
      <tr>
        <th style="width:50%" class="col">{{'key_Description' | translate}}</th>
        <th style="width:30%" class="col">{{'key_Value' | translate}}</th>
        <th style="width:20%" class="col">{{'key_UOM' | translate}}</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>Customs Documents Required</td>
        <td>
          <select class="form-control">
            <option></option>
          </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>MAS ExternalID</td>
        <td>
          <input type="text" class="form-control" disabled />
        </td>
        <td></td>
      </tr>
      <tr>
        <td>MAS Inventory Warehouse</td>
        <td>
          <input type="text" class="form-control" disabled />
        </td>
        <td></td>
      </tr>
      <tr>
        <td>MAS Vendor Location Address ID</td>
        <td>
          <input type="text" class="form-control" disabled />
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="row pt-3">
    <div class="col-lg-12 text-center">
      <input type="button" id="btnSave" name="btnSave" class="btn btn-save mr-2 popup-btn-width disabled" value="Save">
      <!--<input type="button" id="btnSave" name="btnSave" class="btn btnbrd popup-btn-width" value="Add New">-->
    </div>
  </div>
</div>
