
<div class="modal-header">
  <h4 class="modal-title">{{'key_Editbusinesspart' | translate}}</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <div class="d-flex flex-nowrap justify-content-between align-items-center mt-1 mb-4">
    <!--<h4 class="mb-3 mt-3 ml-3">{{ 'key_Nafta' | translate }}</h4>-->
    <div>
      <div class="btn-group btn-group-toggle btn-group-md" data-toggle="buttons">
        <button (click)="openPopup('add')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{ 'key_Add' | translate }}">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>
            {{ 'key_Add' | translate }}
          </span>
        </button>
        <button (click)="openPopup('edit')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{ 'key_Edit' | translate }}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <span>
            {{ 'key_Edit' | translate }}
          </span>
        </button>
        <button class="btn btn btn-outline-danger" type="button" placement="bottom" ngbTooltip="{{ 'key_Delete' | translate }}">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span>
            {{ 'key_Delete' | translate }}
          </span>
        </button>
        <button class="btn btn-outline-success" type="button" placement="bottom" ngbTooltip="{{ 'key_Refresh' | translate }}">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          <span>
            {{ 'key_Refresh' | translate }}
          </span>
        </button>       
      </div>
    </div>
  </div>
  <!--=======working area===========--->


  <div class="row mt-3">
    <div class="col-lg-12">
      <!--<div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>{{ 'key_Filter' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
    </mat-form-field>
  </div>-->
      <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
      <div class="scroll">
        <mat-table #table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="selectRow">
            <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                         [checked]="selection.hasValue() && isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()">
                </label>
              </div>

            </mat-header-cell>
            <mat-cell class="t-center tw-5" *matCellDef="let row">
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(row) : null"
                         [checked]="selection.isSelected(row)">
                </label>
              </div>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="Business">
            <mat-header-cell class="" *matHeaderCellDef mat-sort-header> {{ 'key_BusinessPartnerTypeDescription' | translate }} </mat-header-cell>
            <mat-cell class="" *matCellDef="let element"> {{element.Business}} </mat-cell>
          </ng-container>




          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>




  <!--=======working area===========--->
</div>
<div class="col-lg-12 text-center mt-4 mb-4">
  <input type="button" id="btnSave" name="btnSave" class="btn btn-save mr-2 popup-btn-width" value="Ok">
</div>


