<div class="row">
  <div class="col-sm-12">
    <div class="subHeading-red fw600"> {{ 'key_DeliveryNotes' | translate }}</div>
  </div>
</div>

<!--Row End-->
<div class="row">
  <div class="col-sm-12">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-2">
        <label>{{ 'key_Diagnosis' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-6">
        <textarea class="form-control w-100"></textarea>
      </div>
    </div>
  </div>
</div>
<!--Row End-->
<div class="row col-sm-12 mt-3">
  <div class="fw600 fs-16">{{ 'key_Outcomeofdelivery' | translate }}</div>
</div>
<!--Row End-->
<div class="row">
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">{{ 'key_FTLiveBirth' | translate }}
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">{{ 'key_Stillbirth' | translate }}
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">{{ 'key_Abortion' | translate }}
      </label>
    </div>
  </div>
</div>
<!--Row End-->
<div class="row col-sm-12 mt-3">
  <div class="fw600 fs-16">{{ 'key_Dateandtimeof' | translate }}</div>
</div>
<!--Row End-->
<div class="row">
  <div class="col-md-5">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-3">
        <label class="lableflex-start">{{ 'key_Delivery' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-9">
        <input type="datetime-local" class="form-control w-100">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-2">
        <label class="lableflex-start">{{ 'key_Abortion' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-10">
        <input type="datetime-local" class="form-control w-100">
      </div>
    </div>
  </div>
</div>
<!--Row End-->
<div class="row col-sm-12 mt-3">
  <div class="fw600 fs-16">{{ 'key_Gestationageinweeksattimeof' | translate }}</div>
</div>
<!--Row End-->
<div class="row">
  <div class="col-md-5">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-3">
        <label class="lableflex-start">{{ 'key_Delivery' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-9">
        <input type="text" class="form-control w-100">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-2">
        <label class="lableflex-start">{{ 'key_Abortion' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-10">
        <input type="text" class="form-control w-100">
      </div>
    </div>
  </div>
</div>
<!--Row End-->
<!--Row End-->
<div class="row col-sm-12 mt-3">
  <div class="fw600 fs-16">{{ 'key_DeliveryConductedby' | translate }}</div>
</div>
<!--Row End-->
<div class="row">
  <div class="col-md-5">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-3">
        <label class="lableflex-start">{{ 'key_Name' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-9">
        <select class="js-example-tags form-control w-100">
          <option></option>
          <option>test One</option>
          <option>test Two</option>
          <option>test Three</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <div class="form-inline row">
      <div class="col-sm-12 col-md-2">
        <label class="lableflex-start">{{ 'key_Designation' | translate }}</label>
      </div>
      <div class="col-sm-12 col-md-10">
        <select class="js-example-tags form-control w-100">
          <option></option>
          <option>test One</option>
          <option>test Two</option>
          <option>test Three</option>
        </select>
      </div>
    </div>
  </div>
</div>
<!--Row End-->
<div class="row col-sm-12 mt-3">
  <div class="fw600 fs-16">{{ 'key_TypeofDelivery' | translate }}</div>
</div>
<!--Row End-->
<div class="row">
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tod">{{ 'key_Normal' | translate }}
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tod">{{ 'key_Assistedspecify' | translate }}
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tod">{{ 'key_LSCS' | translate }}
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tod">{{ 'Key_Others' | translate }}
      </label>
    </div>
  </div>
</div>
<!--Row End-->
<div class="row mt-3">
  <div class="col-sm-12">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
    </div>
  </div>
</div>
<!--Row End-->
<div class="form-group">
  <label>{{ 'key_ComplicationsDelivery' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_AnyMedicalGiven' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_IndicationIntervention' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_DateAndTimeNatalWard' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_ConditionNatalWard' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>

<div class="form-group">
  <label>{{ 'key_ReferredBaby' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_MaternalNeonatal' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_Causeofdeathandtime' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>
<div class="form-group">
  <label>{{ 'key_IntrapartumRemarks' | translate }}</label>
  <textarea class="form-control" rows="1" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
</div>

<!--Row End-->
<!--<div class="row mt-4">
  <input type="button" class="btn btn-secondary ml-3 btnbrd" (click)="AddMoreComplication()" value="{{ 'key_AddNewParameter' | translate }}" />
</div>-->

<app-dynamic-webcontrol-parameter [stageModule]="stageCode"></app-dynamic-webcontrol-parameter>
