<!--TFS ID:- 17617
  Date: 28/09/2020
  Aut: Monu Ram Yadav
  Des:- Create and compute sales Forecast> Need to add popup for import option.-->
<!-- Modal Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ 'key_ilmr' | translate }}</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <div class="col-lg-12 text-center mt-4">
    <!--<div class="fw600 text-center">{{ 'key_sefomftu' | translate }}:</div>-->
    <div class="form-inline">
      <div class="col-md-4"></div>
      <div class="col-md-6 pl-0 fw600">{{ 'key_sefomftu' | translate }}:</div>
    </div>
    <div class="form-inline mt-3">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <div class="custom-file">
          <input id="inputGroupFile01" type="file" class="custom-file-input">
          <label class="custom-file-label justify-content-start" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </div>
    <div class="form-inline mt-3">
      <div class="col-md-4"><label class="justify-content-end">{{ 'key_UploadingFile' | translate }}</label></div>
      <div class="col-md-6"><input type="text" class="form-control w-100" placeholder="No file selected yet" /></div>
    </div>
    <div class="d-flex mt-3">
      <div class="col-md-4"><label class="text-right w-100"> {{ 'key_SelectSheetName' | translate }}</label></div>
      <div class="col-md-6">
        <angular2-multiselect fixFilterBug [data]="itemList" [(ngModel)]="selectedItems" [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)"
                              (onAddFilterNewItem)="onAddItem($event)">
        </angular2-multiselect>
      </div>
    </div>
    <div class="col-md-12 mt-3 mb-3">
      <button class="btn btn-save mr-2 popup-btn-width">{{ 'key_Import' | translate }}</button>
      <button class="btn btn-save">{{ 'key_etfi' | translate }}</button>
      <!--<input type="button" value="{{ 'key_Import' | translate }}" class="btn btn-save mr-2 popup-btn-width">
    <input type="button" value="{{ 'key_etfi' | translate }}" class="btn btn-save">-->
    </div>
  </div>
</div>
