<!---Author Name Satyen Singh TFS ID-16924
Date- 22-7-2020
Description- Active Phase - Add header & all charts.
TFS ID-16925
Description- Active Phase - Check for responsiveness.
TFS ID-16926
Description- Active Phase - Check for cross browser compatibility.
-->
<!--Task 17088: Add arrow to show expand - THIRD STAGE COMPLICATIONS -
  Author:-Monu Ram Yadav, date:-10-08-2020-->

<div class="row mb-4">
  <div class="col-lg-12">
    <app-patientinformation></app-patientinformation>
  </div>
</div>
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-pulsebp-third-stage-chart></app-pulsebp-third-stage-chart>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-temperature-third-stage-chart></app-temperature-third-stage-chart>
  </div>
</div>
<!-- start new question and add comment with share and delete like code start here-->
<h4>{{ 'key_Observation' | translate }}</h4>
<app-dynamic-webcontrol-parameter [stageModule]="stageCode"></app-dynamic-webcontrol-parameter>
<!--start chart history component-->
<div class="row mt-4 mb-4">
  <div class="col-lg-12">
    <app-chart-history-third-phase></app-chart-history-third-phase>
  </div>
</div>
