<!--TFS ID: 17222, Author: Monu Ram Yadav, Date: 01-09-2020, Des: Design Material Screens-->
<div class="row">
  <div class="col-md-5">
    <div class="d-flex flex-nowrap justify-content-between align-items-center mb-2">

      <div class="btn-group btn-group-toggle btn-group-md" data-toggle="buttons">
        <button [ngClass]="{'active': btn==='btnaddedit'}" id="addAddressButton" (click)="editDefinechar()" class="btn btn-outline-primary" [disabled]="Inactive ? true : false" type="button" placement="bottom" ngbTooltip="{{'key_Add' | translate}} / {{'key_Edit' | translate}}">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>
            {{'key_Add' | translate}} / {{'key_Edit' | translate}}
          </span>
        </button>
        <button [ngClass]="{'active': btn==='btndelete'}" id="deleteButton" class="btn btn btn-outline-danger" [disabled]="Inactive ? true : false" type="button" (click)="removeMaterialPropertyDetail()" placement="bottom" ngbTooltip="{{'key_Delete' | translate}}">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <span>
            {{'key_Delete' | translate}}
          </span>
        </button>
        <!--<button id="exportButton" class="btn btn btn-outline-success" type="button" placement="bottom" ngbTooltip="Export">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          <span>
            {{ 'key_Export' | translate }}
          </span>
        </button>-->
        <!--<button id="importButton" [disabled]="Inactive ? true : false" type="button" class="btn btn btn-outline-success btn-bs-file" placement="bottom" ngbTooltip="Import">
          <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
          <span class="fs-12">{{ 'key_Import' | translate }}</span>
        </button>-->
        <!--<label [hidden]="Inactive ? true : false" class="btn btn-outline-success btn-bs-file" placement="bottom" ngbTooltip="{{ 'key_Import' | translate }}">
          <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
          <span class="fs-12">{{ 'key_Import' | translate }}</span>
          <input type="file" />
        </label>-->
      </div>


    </div>
  </div>

  <div class="col-md-7">
    <div class="form-inline row form-group">
      <div class="col-sm-12 col-md-6">
        <label class="justify-content-end">{{'key_CopyCharacteristicsFromMaterial' | translate}} </label>
      </div>
      <div class="col-sm-12 col-md-6">
        <angular2-multiselect fixFilterBug [data]="MaterialNameList" [(ngModel)]="selectedMatName" [settings]="settingsA"
                              name="MaterialNameList" (onSelect)="onItemSelect($event)">
        </angular2-multiselect>
      </div>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-md-7">
      <div class="form-inline row form-group">
        <div class="col-sm-12 col-md-6">
          <label class="justify-content-end">{{'key_Characteristicsmaterial' | translate}} </label>
        </div>
        <div class="col-sm-12 col-md-6">
          <angular2-multiselect fixFilterBug [data]="MaterialNameList" [(ngModel)]="selectedMatName" [settings]="settingsA"
                                name="MaterialNameList" (onSelect)="onItemSelect($event)">
          </angular2-multiselect>
        </div>
      </div>
    </div>
    <div class="col-md-5 d-none">
      <div class="form-inline row form-group">
        <div class="col-sm-12 col-md-5">
          <label class="justify-content-end">{{'key_Filtercharacteristics' | translate}}</label>
        </div>
        <div class="col-sm-12 col-md-7 pr-0 hidden">
          <angular2-multiselect fixFilterBug [data]="MaterialCharList" [(ngModel)]="selectedMatChar" [settings]="settingsB"
                                name="skill2" #skill2="ngModel">
          </angular2-multiselect>
        </div>
      </div>
    </div>
  </div>-->
  <div class="col-md-12">
    <!--<mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Filter</mat-label>
      <input matInput (keydown)="applyFilter($event.target.value)" [(ngModel)]="filterValue" placeholder="Press enter to filter">
    </mat-form-field>-->
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="selectRow">

          <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" data-toggle="tooltip" data-placement="top" title="Select all" (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
              </label>
            </div>

          </mat-header-cell>
          <mat-cell class="t-center tw-5" *matCellDef="let row">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" data-toggle="tooltip" data-placement="top" title="Select" (click)="$event.stopPropagation()"
                       (change)="$event ? selection.toggle(row) : null"
                       [checked]="selection.isSelected(row)">
              </label>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Characteristics</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DefaultCommodity">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Characteristics Value </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div *ngIf="element.description==='Is Material Clean ?'">{{element.materialPropertyValue==1?'Yes':'No'}}</div>
            <div *ngIf="!(element.description==='Is Material Clean ?')">{{ element.materialPropertyValue }}</div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
          <mat-header-cell *matHeaderCellDef mat-sort-header> UOM</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.materialPropertyValueUOM}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
                 [ngClass]="{hovered: row.hovered, highlighted: row.highlighted,
                 'selected': selection.isSelected(row)}"
                 (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
      </mat-table>
    </div>
    <div class="col-lg-12 text-center" *ngIf="dataSource.data.length == 0"><p>No records to display.</p></div>
  </div>
</div>

