<!--TFS ID: 18741,
  Author: Monu Ram Yadav,
  Date: 18-11-2020,
  Des: Design Purchase Order workbench screen-->
<!-->>>>>>>>>Note:- This page will use for second release only<<<<<<<<<<<-->

<app-top-btn-group #btnBar [actionGroupConfig]="actionGroupConfig" (action)="actionHandler($event)"></app-top-btn-group>
<!--Button Action Section End/////////-->
<div>
  <h5>{{ 'key_PurchaseOrderWorkbench' | translate }}</h5>
</div>
<mat-tab-group #tabGroupA class="mt-18" animationDuration="0ms" (selectedTabChange)="tabChange($event)">
  <mat-tab #tab1 *ngIf="tab1">
    <ng-template mat-tab-label>
      {{ 'key_PurchaseOrderList' | translate }}
    </ng-template>
    <div class="tab-content" *ngIf="tab1Data">
      <app-purchase-order-list></app-purchase-order-list>
    </div>
  </mat-tab>
  <mat-tab #tab2 *ngIf="tab2">
    <ng-template mat-tab-label>
      {{ 'key_newPurchaseOrder' | translate }}
      <button class="close" type="button" (click)="closeTab()">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </button>
    </ng-template>
    <div class="tab-content" *ngIf="tab2Data">
      <app-add-purchase-order></app-add-purchase-order>
    </div>
  </mat-tab>

  <mat-tab #tab3 *ngIf="tab3">
    <ng-template mat-tab-label>
      {{ 'key_editPurchaseOrder' | translate }}
      <button class="close" type="button" (click)="closeTab()">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </button>
    </ng-template>
    <div class="tab-content" *ngIf="tab3Data">
      <app-edit-purchase-order></app-edit-purchase-order>
    </div>
  </mat-tab>

</mat-tab-group>


<app-show-notes></app-show-notes>
