::ng-deep .app-body {overflow:hidden}
.bg-comment {border: 1px solid #ddd; background-color: #efefef;}
::ng-deep .mat-expansion-panel-body { padding-top: 15px !important;}
.check {width: 25px; height: 25px;}
.op-body {
  border: 1px solid #ddd; max-width: 100%; background-color: #fff;
  margin: 0 auto; margin-bottom: 15px;
}
/*::ng-deep .mat-expansion-panel-body,*/
::ng-deep   .moreOptions .tab-content {
  background-color: #f7f3f3;
  border: 1px solid #dddd;
}
button.btn.btn-global {border: 1px solid;}
::ng-deep .angular-editor {
  background-color: #fff;
}
.h31 { height:31px;
}
.w-input {
  padding: 0 4px !important;
  height: 18px !important;
}
/*develop: rajesh; description :: for use resizable table*/
.ship-detail mat-cell,
.ship-detail mat-footer-cell,
.ship-detail mat-header-cell {
  width: 135px;
}

