<!-- Modal Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ 'key_LampsEditOnhandInventory' | translate }} </h5>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label> {{ 'key_LocationFunction' | translate }} <span class="text-danger">*</span> </label>
        <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)"
                              (onAddFilterNewItem)="onAddItem($event)">
        </angular2-multiselect>
      </div>
      <div class="form-group">
        <label> {{ 'key_Location' | translate }} <span class="text-danger">*</span> </label>
        <angular2-multiselect [data]="itemList2" [(ngModel)]="selectedItems2" [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)"
                              (onAddFilterNewItem)="onAddItem($event)">
        </angular2-multiselect>
      </div>
      <div class="form-group">
        <label> {{ 'key_MaterialDescription' | translate }} <span class="text-danger">*</span> </label>
        <angular2-multiselect [data]="itemList3" [(ngModel)]="selectedItems3" [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)"
                              (onAddFilterNewItem)="onAddItem($event)">
        </angular2-multiselect>
      </div>
      <div class="form-group">
        <label> {{ 'key_Quantity' | translate }} <span class="text-danger">*</span> </label>
        <input type="text" class="form-control" required />
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <button class="btn btn-block btn-save" type="submit">{{ 'key_Update' | translate }}</button>
    </div>
  </div>
</div>
