<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<form (ngSubmit)="ChangePassword()" [formGroup]="ChangePasswordform">
  <!-- Modal body -->
  <div class="modal-body">

    <div class="form-group">
      <label for="company"><!--{{ 'key_Enterprise' | translate }}--> Current Password :</label>
      <input type="text" [type]="password" class="form-control" formControlName="userexistpassword" required/>
    </div>
    <div class="form-group">
      <label for="vat">New Password </label>
      <input type="text" [type]="password" class="form-control" formControlName="usernewpassword" required/>
    </div>
    <div class="form-group">
      <span class="text-muted mr-2"><i class="fa fa-check"></i> 8-20 characters </span>
      <span class="text-muted mr-2"><i class="fa fa-check"></i> Upper & lowercase letters </span>
      <span class="text-muted mr-2"><i class="fa fa-check"></i> Number(s) </span>

    </div>
    <div class="form-group">
      <label for="street">Confirm New Password </label>
      <input [type]="password" class="form-control" formControlName="userconfirmpassword" required/>
    </div>
    <div class="form-check checkbox">
      <input class="form-check-input" id="check1" type="checkbox" value="" (click)="showPassword()">
      <label class="form-check-label" for="check1">Show Password</label>
    </div>
    <div id="startScreen" class="chart-btns">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <button type="submit" class="btn btn-block btn-previous" [disabled]="ChangePasswordform.invalid">
            <span [hidden]="isLoading"> Change Password</span>
            <span [hidden]="!isLoading">
              <i class="fa fa-asterisk fa-spin" aria-hidden="true"></i>
            </span>           
          </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <button class="btn btn-block btn-next bottom-btn-next" (click)="activeModal.dismiss('Cross click')">Exit</button>
        </div>
      </div>
    </div>

  </div>
</form>
