<div class="row">
  <div class="col-sm-12">
    <div class="subHeading-red fw600">{{ 'Key_Medication' | translate }}</div>
  </div>
</div>
<!--Row End-->
<div class="row">
  <div class="col-md-6">
    <div class="fw600 mt-3">{{ 'key_Vitamin' | translate }}</div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">{{ 'key_Yes' | translate }}
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">{{ 'key_No' | translate }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group mt-4">
      <label>{{ 'key_AnycongenitalAnomaly' | translate }}</label>
      <textarea class="form-control" rows="3" placeholder="{{ 'key_DescribeCongenitalAnomaliesHere' | translate }}"></textarea>
    </div>
  </div>
  <div class="col-md-6">
    <div class="fw600 mt-3">{{ 'key_Hepatitis' | translate }}</div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio7">{{ 'key_Yes' | translate }}
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio7">{{ 'key_No' | translate }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group mt-4">
      <label>{{ 'key_Anyothercomplication' | translate }}</label>
      <textarea class="form-control" rows="3" placeholder="{{ 'key_DescribeanycomplicationsHere' | translate }}"></textarea>
    </div>
  </div>
</div>

<app-dynamic-webcontrol-parameter [stageModule]="stageCode"></app-dynamic-webcontrol-parameter>
<div class="row mt-3">
  <!--<div class="col-sm-12 col-md-2 pt-5">
    <input type="button" class="btn btn-secondary btnbrd" (click)="AddMoreComplication()" value="{{ 'key_AddNewParameter' | translate }}" />
  </div>-->
  <div class="col-sm-12 col-md-10 pt-1">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="{{ 'key_AddCommentHere' | translate }}"></textarea>
    </div>
  </div>
</div>
<!--Row End-->
