<!--TFS ID: 17222, Author: Monu Ram Yadav, Date: 05-09-2020, Des: Design Material Screens-->
<!-- Modal Header -->
<div class="modal-header">
  <h5 class="modal-title"> {{ 'key_mgd' | translate }}</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <p class="text-center"><span class="fw600">{{ 'key_mgn' | translate }}:</span> 	<span> {{groupName}}</span></p>
  <div class="row">
    <div class="col-lg-12">
      <!--<mat-form-field appearance="outline" fxFlex="100">
    <mat-label>{{ 'key_Filter' | translate }}</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>-->
      <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
      <div class="scroll">
        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)">
          <ng-container matColumnDef="materialGroupValueDesc">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'key_Description' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.materialGroupValueDesc}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="col-lg-12 text-center" *ngIf="dataSource.data.length == 0"><p>No records to display.</p></div>
      </div>
      <mat-paginator #paginator
                     [length]="materialGroupDetail.itemsLength"
                     [pageSize]="materialGroupDetail.pageSize"
                     [pageSizeOptions]="materialGroupDetail.pageSizeOptions"
                     (page)="onPaginationEvent($event)">
      </mat-paginator>
      <div class="row pt-5 pb-2">
        <div class="col-lg-12 text-center">
          <button id="btnSave" name="btnSave" class="btn btn-save popup-btn-width">{{ 'key_Refresh' | translate }}</button>
          <!--<input type="submit" id="btnSave" name="btnSave" class="btn btn-save popup-btn-width" value="{{ 'key_Refresh' | translate }}">-->
        </div>
      </div>


    </div>
  </div>
</div>
