<div class="col-md-12 col-xl-12 mt-4">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{'key_OrderComments' | translate}}</h4>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Transportation Comment" class="">Transportation Comment</label>
            <textarea name="Transportation" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="Loading Comment" class="">Loading Comment</label>
            <textarea name="Loading" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 ">
          <div class="form-group">
            <label for="Transportation Comment" class="">
              Transplace Order Comment
            </label>
            <input type="text" name="Transportation" class="form-control">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="Loading Comment" class="">
              Transplace Delivery Comment
            </label>
            <input type="text" name="Transportation" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="form-group">
        <label for="Transportation Comment" class="">
          Order Comment - It is for internal Tosca use only.
        </label>
        <textarea name="Order" class="form-control h-198"></textarea>
      </div>
    </div>

    </div>


    <!-- <div class="row">
    <div class="col-md-12">
      <div class="md-form">
        <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
        <label for="message">Your message</label>
      </div>
    </div>
  </div>-->

   <!-- <div class="justify-content-center col-md-12 text-center mt-3">
      <a class="btn btn-next font-weight-normal">Save</a>
    </div>-->
  </div>
