
<div id="stepper13" class="bs-stepper">
  <div class="bs-stepper-header">
    <div class="step" data-target="#testtreatment1">
      <button class="step-trigger">
        <span class="bs-stepper-circle">1</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#testtreatment2">
      <button class="step-trigger">
        <span class="bs-stepper-circle">2</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#testtreatment3">
      <button class="step-trigger">
        <span class="bs-stepper-circle">3</span>
      </button>
    </div>
  </div>
  <div class="bs-stepper-content">

    <div id="testtreatment1" class="content">
      <app-critical-patient-monitoring></app-critical-patient-monitoring>
    </div>
    <!--testtreatment1 div End-->

    <div id="testtreatment2" class="content">
      <app-medication-chart></app-medication-chart>
    </div>
    <!--testtreatment2 div End-->
    <div id="testtreatment3" class="content">
      <app-nursing-care-activity></app-nursing-care-activity>
    </div>
    <!--testtreatment3 div End-->


 </div>
</div>
