<div class="row">
  <div class="col-lg-12">
    <div>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{ 'key_Filter' | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
      </mat-form-field>
    </div>
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="selectRow">
          <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
              </label>
            </div>
          </mat-header-cell>
          <mat-cell class="t-center tw-5" *matCellDef="let row">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" (click)="$event.stopPropagation()"
                       (change)="$event ? selection.toggle(row) : null"
                       [checked]="selection.isSelected(row)">
              </label>
            </div>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="Material">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_Material' | translate }} </mat-header-cell>
          <mat-cell class="tw-10" *matCellDef="let element"> {{element.Material}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="Charge">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_Charge' | translate }} </mat-header-cell>
          <mat-cell class="tw-10" *matCellDef="let element"> {{element.Charge}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="Commodity">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_Commodity' | translate }} </mat-header-cell>
          <mat-cell class="tw-10" *matCellDef="let element"> {{element.Commodity}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Shipbol">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_Ahobol' | translate }} </mat-header-cell>
          <mat-cell class="tw-10" *matCellDef="let element"> {{element.Shipbol}} </mat-cell>
          <mat-footer-cell *matFooterCellDef class="t-right">Total</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="OrderQuantity">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_OrderQuantity' | translate }} </mat-header-cell>
          <mat-cell class="tw-10 t-right" *matCellDef="let element"> {{element.OrderQuantity}} </mat-cell>
          <mat-footer-cell *matFooterCellDef class="t-right">5661</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Shipquantity">
          <mat-header-cell class="tw-10t" *matHeaderCellDef mat-sort-header> {{ 'key_Shipqunt' | translate }} </mat-header-cell>
          <mat-cell class="tw-10 t-right" *matCellDef="let element"> {{element.Shipquantity}} </mat-cell>
          <mat-footer-cell *matFooterCellDef class="t-right">72542</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="PriceMethod">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_PriceMethod' | translate }} </mat-header-cell>
          <mat-cell class="tw-10" *matCellDef="let element"> {{element.PriceMethod}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="RateValue">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_RateValue' | translate }} </mat-header-cell>
          <mat-cell class="tw-10 t-right" *matCellDef="let element"> {{element.RateValue}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="RateType">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_RateType' | translate }} </mat-header-cell>
          <mat-cell class="tw-10" *matCellDef="let element"> {{element.RateType}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Amountorder">
          <mat-header-cell class="tw-10" *matHeaderCellDef mat-sort-header> {{ 'key_Amountorder' | translate }} </mat-header-cell>
          <mat-cell class="tw-10 t-right" *matCellDef="let element"> {{element.Amountorder}} </mat-cell>
          <mat-footer-cell *matFooterCellDef class="t-right">$ 0.00</mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                 (click)="selection.toggle(row)"></mat-row>
        <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
