
  <div class="row mb-4">
    <div class="col-lg-12">
      <app-patientinformation></app-patientinformation>
    </div>
  </div>


  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-fetal-heart-linechart></app-fetal-heart-linechart>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-amniotic-mouldingchart></app-amniotic-mouldingchart>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-cervix-descentchart></app-cervix-descentchart>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-timechart></app-timechart>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-contractionsChart></app-contractionsChart>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-oxitocinchart></app-oxitocinchart>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-drugschart></app-drugschart>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-pulsebpchart></app-pulsebpchart>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-tempraturechart></app-tempraturechart>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-tempproteinvolumeacetonchart></app-tempproteinvolumeacetonchart>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-lg-12">
      <app-charthistory></app-charthistory>
    </div>
  </div>
