<!--Author name- satyen
TFS ID 16724
    Description:Latent Phase - Latent Phase - Design partograph iinformation header.
    Date:8-7-2020
    start code
-->


<div class="container-fluid">
  <div class="flex-container">
    <div>
     
      <strong>
        {{ 'key_Name' | translate }}
      </strong>
      <label>Satyen</label>
    </div>

    <div>
      <strong>
        {{ 'key_Gravida' | translate }}
      </strong>
      <label>3</label>
    </div>

    <div>
      <strong>
        {{ 'key_Para' | translate }}
      </strong>
      <label>3</label>
    </div>

    <div>
      <strong>
        {{ 'key_Hospitalnumber' | translate }}
      </strong>
      <label>3</label>
    </div>

    <div>
      <strong>
        {{ 'key_Dateadmission' | translate }}
      </strong>
      <label>3.8.2020</label>
    </div>
    <div>
      <strong>
        {{ 'key_Timeadmission' | translate }}
      </strong>
      <label>5:00 AM</label>
    </div>

    <div>
      <strong>
        {{ 'key_Rupturedmembranes' | translate }}
      </strong>
      <label>1</label>
    </div>

    <div>
      <strong>
       Hours
      </strong>
      <label>5:00 PM</label>
    </div>
  </div>
</div>
<!--TFS ID 16724 end code-->
