<div class="histoy-present-illness">
  <!---Heading start row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="subHeading-red fw600">
        {{ 'key_Presentillness' | translate }}
      </div>
    </div>
  </div>
  <!---Heading end row-->
  <!--Row Start-->
  <div class="row mt-3">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class=" form-group">
        <label for=""> {{ 'key_amenorrhoeasincenew' | translate }}</label>
        <div class="input-group">
          <input type="text" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Month</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="form-group">
        <div class="form-group">
          <label>{{ 'key_Covidstatus' | translate }}  </label>
          <select class="form-control">
            <option>Please Select</option>
            <option value="positive">Positive</option>
            <option>Negative</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="form-group">
        <label>{{ 'key_Diagnosisdate' | translate }} </label>
        <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
      </div>

    </div>



  </div>
  <!--Row end-->
  <!--Sub Heading Start-->
  <div class="fs-16 fw600"><u>{{ 'key_Complaintsof' | translate }}</u></div>
  <!--Sub Heading End-->
  <!--Row Start-->
  <div class="row mt-2">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Labourpains' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Bleeding' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Headache' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_fetalmovements' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Leaking' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Convulsions' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Vomiting' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class=" form-group">
        <label for="">{{ 'key_Urinary' | translate }}</label>
        <div class="input-group">
          <input type="number" class="form-control" name="">
          <div class="input-group-append append-custombg">
            <select class="form-control">
              <option>Hours</option>
              <option>Days</option>
              <option>Weeks</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-dynamic-webcontrol-parameter [stageModule]="stageCode"></app-dynamic-webcontrol-parameter>
  <!--Row End-->
  <!--Row start for other-->
  <!--<div class="row">
    <input type="button" class="btn btn-secondary ml-3 btnbrd" (click)="AddMoreComplication()" value="{{ 'key_AddNewParameter' | translate }}" />
  </div>-->
  <!--Row end for other-->
</div>
