<!-- start-16610- add language and 16048 add editor-->
<!--<div class="container">
  <div class="row">
    <div class="panel panel-default widget container">
      <div class="panel-heading mr-15">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title">
          {{ 'key_RecentComments' | translate }}
        </h3>
        <span class="label label-info">
          3
        </span>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-2 col-md-1">
                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
              </div>
              <div class="col-xs-10 col-md-11">
                <div>
                  <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                    Google Style Login Page Design Using Bootstrap
                  </a>
                  <div class="mic-info">
                    By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
                  </div>
                </div>
                <div class="comment-text">
                  Awesome design
                </div>

              </div>
              <div class="dropdown dropdownone">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Share</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-2 col-md-1">
                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
              </div>
              <div class="col-xs-10 col-md-11">
                <div>
                  <a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">Admin Panel Quick Shortcuts</a>
                  <div class="mic-info">
                    By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                  </div>
                </div>
                <div class="comment-text">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                </div>
              </div>
              <div class="dropdown dropdownone">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Share</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-2 col-md-1">
                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
              </div>
              <div class="col-xs-10 col-md-11">
                <div>
                  <a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Cool Sign Up</a>
                  <div class="mic-info">
                    By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                  </div>
                </div>
                <div class="comment-text">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                </div>
              </div>
            </div>
            <div class="dropdown dropdownone">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
                <li><a href="#">Share</a></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>-->
<!--<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="nopadding">
        <textarea id="txtEditor"></textarea>
        <a href="#" class="btn btn-primary btn-lg float-right" role="button"><span class="glyphicon glyphicon-send"></span>  {{ 'key_send' | translate }}</a>
        <div class="panelwidth">
          <div class="mrgindiv">
            <div class="col-xs-3"><i class="fa fa-file-pdf-o" style="padding: 15px 0px 6px 0px; font-size: 28px;"></i></div>
            <div class="col-xs-5"><p style="font-size:15px;">Partograpg.pdf</p><p style="font-size:15px;">287 KB</p> </div>
            <div class="col-xs-4">
              <div class="dropdown dropdownone">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Open Folder</a></li>
                  <li><a href="#">Rename</a></li>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Share</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mrgindiv">
            <div class="col-xs-3"><i class="fa fa-film" style="padding: 15px 0px 6px 0px; font-size: 28px;"></i></div>
            <div class="col-xs-5"><p style="font-size:15px;">Altrasound.mp4</p><p style="font-size:15px;">287 KB</p></div>
            <div class="col-xs-4">
              <div class="dropdown dropdownone">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Open Folder</a></li>
                  <li><a href="#">Rename</a></li>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Play</a></li>
                  <li><a href="#">Share</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mrgindiv">
            <div class="col-xs-3"><i class="fa fa-file-image-o" style="padding: 15px 0px 6px 0px; font-size: 28px;"></i></div>
            <div class="col-xs-5"><p style="font-size:15px;">Partograpg.png</p><p style="font-size:15px;">287 KB</p></div>
            <div class="col-xs-4">
              <div class="dropdown dropdownone">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Open Folder</a></li>
                  <li><a href="#">Rename</a></li>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Share</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mrgindiv">
            <div class="col-xs-3"><i class="fa fa-file-word-o" style="padding: 15px 0px 6px 0px; font-size: 28px;"></i></div>
            <div class="col-xs-5"><p style="font-size:15px;">Partograpg.Doc</p><p style="font-size:15px;">287 KB</p></div>
            <div class="col-xs-4">
              <div class="dropdown dropdownone">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" style="font-size:18px;"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Open Folder</a></li>
                  <li><a href="#">Rename</a></li>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Share</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>-->

<!--<form #commentadd="ngForm">-->
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <span></span>
      <span class="d-flex align-items-center">
        <span class="urgent">Urgent</span>
        <input type="checkbox"
               #saveUrgentCheckBox
               id="saveUrgentCheckBox"
               [checked]="notesModel.isUrgent"
               (change)="onUrgentChanged(saveUrgentCheckBox.checked)"
               class="ml-1" value="" />
      </span>
    </div>
    <div class="input-group">
      <textarea (keyup)="onKeyUp($event)" name="description" rows="3" placeholder="Type your message..." [(ngModel)]="notesModel.description" class="form-control type_msg"></textarea>
      <div class="input-group-append">
        <button *ngIf="!update" [disabled]="!enableSubmit" type="button" (click)="saveNotes()" class="btn btn-primary">
          <i class="fa fa-location-arrow"></i>
        </button>
        <button *ngIf="update" type="button" (click)="updateNotes()" class="btn btn-primary">
          <i class="fa fa-location-arrow"></i>
        </button>
      </div>
    </div>
  </div>
<!--</form>-->
  <!-- end-16610- add language and 16048 add editor-->
