<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-nowrap justify-content-between align-items-center mb-3">
      <!--<div></div>-->
      <div>
        <div class="btn-group btn-group-toggle btn-group-md">
          <button [ngClass]="{'active': btn==='btn1'}" [disabled]="inActive" (click)="openEditEquipmentType('addNew')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{ 'key_Add' | translate }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>
              {{ 'key_Add' | translate }}
            </span>
          </button>
          <!--<button [ngClass]="{'active': btn==='btn2'}" (click)="openEditEquipmentType('edit')" class="btn btn-outline-primary" type="button" placement="bottom" ngbTooltip="{{ 'key_Edit' | translate }}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span>
              {{ 'key_Edit' | translate }}             `      
            </span>
          </button>-->
          <button [ngClass]="{'active': btn==='btn3'}" [disabled]="inActive" (click)="ondelete()" class="btn btn-outline-danger" type="button" placement="bottom" ngbTooltip="{{ 'key_Delete' | translate }}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <span>
              {{ 'key_Delete' | translate }}
            </span>
          </button>
          <!--<button [ngClass]="{'active': btn==='btn4'}" (click)="openEditEquipmentType('export')" class="btn btn-outline-success" type="button" placement="bottom" ngbTooltip="{{ 'key_Export' | translate }}">
    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    <span>
      {{ 'key_Export' | translate }}
    </span>
  </button>-->
          <!--<button [ngClass]="{'active': btn==='btn5'}" (click)="openEditEquipmentType('import')" class="btn btn-outline-success" type="button" placement="bottom" ngbTooltip="{{ 'key_Import' | translate }}">
    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    <span>
      {{ 'key_Import' | translate }}
    </span>
  </button>-->

        </div>

      </div>
    </div>
  </div>
  
  <div class="col-lg-12">
    <!--<div>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>{{ 'key_Filter' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'key_Filter' | translate }}">
    </mat-form-field>
  </div>-->
    <app-table-filter (filterOn)="applyFilter($event)"></app-table-filter>
    <div class="scroll">
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="selectRow">
          <mat-header-cell class="t-center tw-5" *matHeaderCellDef>
            <!--<div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" placement="top" ngbTooltip="Select all" (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelecteds()"
                       [indeterminate]="selection.hasValue() && !isAllSelecteds()">
              </label>
            </div>-->

          </mat-header-cell>
          <mat-cell class="t-center tw-5" *matCellDef="let row">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" [checked]="selection.isSelected(row)">
                <!--$event ? selection.toggle(row) : null; [checked]="selection.isSelected(row);-->
                <!--<mat-checkbox [checked]="row.IsSeleted" (change)="selectedCheckbox($event, row)" class="form-check-input"
                  (click)="$event.stopPropagation()"></mat-checkbox>-->
              </label>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="EquipmentTypeName">
          <mat-header-cell class="tw-95" *matHeaderCellDef mat-sort-header> {{ 'key_EquipmentType' | translate }} </mat-header-cell>
          <mat-cell class="tw-95" *matCellDef="let element"> {{element.equipmentTypeName}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': selection.isSelected(row)}"
                 (click)="onSelectionChange(row)"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator
                   [length]="commonViewModel.ItemsLength"
                   [pageSize]="commonViewModel.PageSize"
                   [pageSizeOptions]="commonViewModel.PageSizeOptions"
                   (page)="onPaginationEvent($event)">
    </mat-paginator>
  </div>
</div>
