::ng-deep .mat-expansion-panel-body {
  background-color: #f9f9f9;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  width: 150px;
}
.child-Table mat-cell,
mat-footer-cell,
mat-header-cell {
  width: 150px;
}
