<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Organization Characteristics</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <table class="table display-table edit-table table-responsive">
    <thead class="thead-light">
      <tr>
        <th style="width:33%" class="col">Description</th>
        <th style="width:33%" class="col">Value</th>
        <th style="width:33%" class="col">UOM</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of characteristicsList">
        <td>{{item.description}}</td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="item.value" [disabled]="!item.isEditable"/>
        </td>
        <td></td>
      </tr>
      <tr>
    </tbody>
  </table>
  <div class="row pt-3">
    <div class="col-lg-12 text-center">
      <input type="button" (click)="save()" class="btn btn-save mr-2 popup-btn-width disabled" value="Save">
      <!--<input type="button" id="btnSave" name="btnSave" class="btn btnbrd popup-btn-width" value="Add New">-->
    </div>
  </div>
</div>
