<div class="row mb-2">
  <div class="col-md-7">
    <h4>
      1058.0 (Shipped and AP Charges Sent To MAS)
    </h4>
  </div>
  <div class="col-md-5 text-right">
    <span class="fw600">{{'key_LastUpdated'| translate}}:	</span> 8/13/2020 8:35:24 IST
    <br><span class="fw600">By</span> Jay Coleman (lampsdemo@osoftec.com)
  </div>
</div>


<div class="row mt-3">
  
  <div class="col-md-12">
    <div class="tab-content">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="box-children">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  ddddd
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  dgeee
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  dgeee
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-children">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>
                    {{'key_ShipDate'| translate}}
                  </label>
                  <input type="text" class="form-control" value="08/08/2020" name="" readonly>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  dgee
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-children">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  dgee
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  dgee
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  gaeee
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
