<app-top-btn-group #btnBar [actionGroupConfig]="actionGroupConfig" (action)="actionHandler($event)"></app-top-btn-group>
<!-- Task 17060: Patient examination page Mockup - Angular Implementation (Responsive & Cross Browser Compatibility)
  Author:- Monu Ram Yadav
  Date :- 08/08/2020 -->
<!--Task 17057: Add popup window on every Plus Sign Button
  Author:- Monu Ram Yadav
  Date:- 10-08-2020-->
<!--Task 17089: Show Notes on click open - window with notes,
  Author:- Monu Ram Yadav
  Date:- 10-08-2020-->
<!--Author:- Monu Ram Yadav, date:09/09/20, 17314 TFS--Des:- remove jquery for patient registration, prepartum, partograph monitoring and postpartum-->
<app-progress-bar></app-progress-bar>
<div class="custom-tab">

  <mat-tab-group #matgroup animationDuration="0ms" (selectedTabChange)="tabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'key_Obstetricformula' | translate }}
      </ng-template>
      <div class="tab-content pb-2" *ngIf="tab1Data">
        <app-obstetric-formula></app-obstetric-formula>
        <div class="mt-3 text-right">
          <button class="next-btn nexttab" (click)="selectNext(matgroup)"><span class="fw600">{{ 'key_Next' | translate }}</span> <span class="fs-12"> > {{ 'key_History' | translate }}</span></button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'key_History' | translate }}
      </ng-template>
      <div class="tab-content pb-2" *ngIf="tab2Data">
        <app-patient-history></app-patient-history>
        <div class="mt-3 text-right">
          <button class="skip-btn nexttab mr-3" (click)="selectPrev(matgroup)"><span class="fw600">{{ 'key_Previous' | translate }}</span> <span class="fs-12"> < {{ 'key_Obstetricformula' | translate }}</span></button>
          <button class="next-btn nexttab" (click)="selectNext(matgroup)"><span class="fw600">{{ 'key_Next' | translate }}</span> <span class="fs-12"> > {{ 'key_Investigation' | translate }}</span></button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'key_Investigation' | translate }}
      </ng-template>
      <div class="tab-content pb-2" *ngIf="tab3Data">
        <app-investigation></app-investigation>
        <div class="mt-3 text-right">
          <button class="skip-btn nexttab mr-3" (click)="selectPrev(matgroup)"><span class="fw600">{{ 'key_Previous' | translate }}</span> <span class="fs-12"> < {{ 'key_History' | translate }}</span></button>
          <button class="next-btn nexttab" (click)="selectNext(matgroup)"><span class="fw600">{{ 'key_Next' | translate }}</span> <span class="fs-12"> > {{ 'Key_Examination' | translate }}</span></button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'Key_Examination' | translate }}
      </ng-template>
      <div class="tab-content pb-2" *ngIf="tab4Data">
        <app-examination></app-examination>
        <div class="mt-3 text-right">
          <button class="skip-btn nexttab mr-3" (click)="selectPrev(matgroup)"><span class="fw600">{{ 'key_Previous' | translate }}</span> <span class="fs-12"> < {{ 'key_Investigation' | translate }}</span></button>
          <button class="next-btn nexttab" (click)="selectNext(matgroup)"><span class="fw600">{{ 'key_Next' | translate }}</span> <span class="fs-12"> > {{ 'key_Treatment' | translate }}</span></button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'key_Treatment' | translate }}
      </ng-template>
      <div class="tab-content pb-2" *ngIf="tab5Data">
        <app-treatment></app-treatment>
        <div class="mt-3 text-right">
          <button class="skip-btn nexttab mr-3" (click)="selectPrev(matgroup)"><span class="fw600">{{ 'key_Previous' | translate }}</span> <span class="fs-12"> < {{ 'Key_Examination' | translate }}</span></button>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
<!--Custom tab end-->
<!--show notes toggle section start-->
<app-show-notes></app-show-notes>
<!--show notes toggle section start-->


<app-next-previous-button></app-next-previous-button>

